.actions-group {
  display: flex;
  flex-wrap: wrap;
  margin-top: get-unit(4);
}

.actions-item {
  width: 30%;
  min-width: 300px;
  margin: 0 get-unit(3) get-unit(3) 0;
  padding: get-unit(3);
  flex: 1;
  border: 1px solid $color-gray-1;
  border-radius: get-unit(1);

  text-align: center;

  .description-list {
    text-align: left;
  }
}

.actions-code {
  padding: get-unit(2) get-unit(3);
  border: 1px solid $color-gray-2;
  border-radius: get-unit(1);
  font-weight: bold;
  font-size: 120%;
  display: inline-block;
}

.actions-code-input {
  display: block;
  margin: get-unit(3) auto;
  padding: get-unit(2) get-unit(3);
}
