$TOP_HEIGHT: 140px;

.artist-page {
  margin: $unit 0;
}

.artist-section-wrapper {
  display: flex;
  width: 100%;
}

.artist-page-profile {
  height: $TOP_HEIGHT;
  background: $color-gray-3;
  width: 250px;
  margin-right: $unit;
}

.artist-page-bias {
  min-height: $TOP_HEIGHT;
  width: $TOP_HEIGHT;
  border-radius: 50%;
  background: $color-gray-3;
}

.artist-page-info {
  flex-grow: 2;

  &__name {
    font-size: 48px;
    text-transform: uppercase;
    margin-bottom: 0;

    &--fav-icon {
      transform: translateY(-12px);
    }
  }

  &__genre {
    margin: 0;
    font-style: italic;
  }

  &__members-list {
    width: 100%;
    display: flex;
    list-style: none;
    padding-left: 0;
    flex-wrap: wrap;
  }

  &__member-pill {
    background: $color-gray-2;
    padding: $unit-p4 $unit-p2;
    border-radius: $unit-p4;
    margin-right: $unit-p2;
    margin-bottom: $unit-p4;
  }
}

.no-units-container {
  display: flex;
  min-height: 200px;
  border: 1px solid $color-gray-1;
  justify-content: center;
  align-items: center;
  color: $color-gray-3;
}

.unit-section {
  &__top {
    display: flex;
  }

  &__ruler {
    border: 0.5px solid $color-gray-1;
  }

  &__info {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__summary {
    // width: 50%;
  }

  &__bias {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: $unit-p2;
    min-width: 110px;
  }

  &__bias-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border-radius: $unit-p2;
    min-width: 110px;
  }

  &__bias-placeholder {
    display: block;
    width: 105px;
    height: 105px;
    background: $color-gray-1;
    margin-bottom: $unit;
    border-radius: $unit-p2;
  }

  &__bias-picture {
    display: block;
    width: 105px;
    height: 105px;
    background: $color-gray-1;
    margin-bottom: $unit;
    border-radius: $unit-p2;
  }

  &__bias-no-picture {
    width: 105px;
    height: 105px;
    background: $color-yellow;
    margin-bottom: $unit;
    border-radius: $unit-p2;
    display: flex;
    justify-content: center;
    align-items: center;

    span {
      text-transform: uppercase;
      font-weight: 700;
      margin: 0;
      bottom: -1.5em;
      color: #000;
      font-size: 1.5em;
    }
  }

  &__actions {
    width: 100%;

    .btn {
      display: inline-block;
      margin-right: $unit-p2;
      min-width: 120px;
      min-width: 120px;
      margin-bottom: $unit-p2;
    }
  }

  &__members {
    display: flex;
    flex-wrap: wrap;
  }
}

.artist-distributed-songs-row {
  width: 100%;

  &__title,
  &__original-artist {
    width: 25%;
  }

  &__distribution-preview {
    width: 50%;
  }
}

.distribution-rates-preview {
  &__container {
    width: 100%;
    display: flex;
  }

  &__bar {
    font-size: 80%;
    padding: 2px;
    overflow-x: hidden;
  }
}
