$TOP_HEIGHT: 140px;

.artist-section {
  margin: get-unit(3) 0;
}

.artist-section-wrapper {
  display: flex;
  width: 100%;
  margin-bottom: get-unit(3);
}

.artist-page-profile {
  height: $TOP_HEIGHT;
  background: get-color(gray, 3);
  width: 250px;
  margin-right: get-unit(3);
}

.artist-page-bias {
  height: $TOP_HEIGHT;
  width: $TOP_HEIGHT;
  position: relative;

  .bias-icon-placeholder {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transition: transform 0.5s, box-shadow 1s;

    &--hover {
      transform: scale(1.1);
      box-shadow: 0px 2px 5px get-color(gray, 2);
    }
  }

  .bias-icon-picture {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transition: transform 0.5s, box-shadow 1s;

    &--hover {
      transform: scale(1.1);
      box-shadow: 0px 2px 5px get-color(gray, 2);
    }

    &__image {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      border: 5px solid get-color(yellow);
    }

    &__no-image {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: get-color(negative);
      text-transform: uppercase;
      font-size: 120%;
    }

    &__loading-icon {
      transform: scale(0.5);
    }
  }

  .bias-hover {
    position: absolute;
    top: 10%;
    right: 90%;
    width: 250px;
    border-radius: get-unit(1);
    padding: get-unit(3);
    min-height: 30px;
    background: get-color(negative);
    box-shadow: 0 2px 5px get-color(gray, 3);
    z-index: 15;
  }

  .bias-hover-buttons {
    display: flex;
    flex-wrap: wrap;
  }

  .bias-hover-button {
    cursor: pointer;
    padding: get-unit(1) get-unit(2);
    margin: get-unit(1) get-unit(1) 0 0;
    border-radius: get-unit(1);
    min-width: 70px;
    border: 0;
    flex-grow: 1;

    &:hover {
      color: get-color(negative);
      transform: scale(1.2);
      box-shadow: 0px 1px 2px get-color(primary);
    }
  }
}

.artist-page-info {
  flex-grow: 2;

  &__name {
    font-size: 48px;
    text-transform: uppercase;
    margin-bottom: 0;

    &--fav-icon {
      transform: translateY(-12px);
    }
  }

  &__genre {
    margin: 0;
    font-style: italic;
  }

  &__members-list {
    width: 100%;
    display: flex;
    list-style: none;
    padding-left: 0;
    flex-wrap: wrap;
  }

  &__member-pill {
    background: get-color(gray, 2);
    padding: get-unit(1) get-unit(2);
    border-radius: get-unit(1);
    margin-right: get-unit(2);
    margin-bottom: get-unit(1);
  }
}

.no-units-container {
  display: flex;
  min-height: 200px;
  border: 1px solid get-color(gray, 1);
  justify-content: center;
  align-items: center;
  color: get-color(gray, 3);
}

.unit-section {
  &__top {
    display: flex;
  }

  &__ruler {
    border: 0.5px solid get-color(gray, 1);
  }

  &__info {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__summary {
    width: 100%;
  }

  &__bias {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: get-unit(2);
    min-width: 110px;
  }

  &__bias-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border-radius: get-unit(2);
    min-width: 110px;
  }

  &__bias-placeholder {
    display: block;
    width: 105px;
    height: 105px;
    background: get-color(gray, 1);
    margin-bottom: get-unit(3);
    border-radius: get-unit(2);
  }

  &__bias-picture {
    display: block;
    width: 105px;
    height: 105px;
    background: get-color(gray, 1);
    margin-bottom: get-unit(3);
    border-radius: get-unit(2);
  }

  &__bias-no-picture {
    width: 105px;
    height: 105px;
    background: get-color(yellow);
    margin-bottom: get-unit(3);
    border-radius: get-unit(2);
    display: flex;
    justify-content: center;
    align-items: center;

    span {
      text-transform: uppercase;
      font-weight: 700;
      margin: 0;
      bottom: -1.5em;
      color: get-color(black);
      font-size: 1.5em;
    }
  }

  &__actions {
    width: 100%;

    .btn {
      display: inline-block;
      margin-right: get-unit(2);
      min-width: 120px;
      min-width: 120px;
      margin-bottom: get-unit(2);
    }
  }

  &__members {
    display: flex;
    flex-wrap: wrap;
  }
}

.artist-distributed-songs-row {
  width: 100%;

  &__title,
  &__original-artist {
    width: 25%;
  }

  &__distribution-preview {
    width: 50%;
  }
}

.distribution-rates-preview {
  &__container {
    width: 100%;
    display: flex;
  }

  &__bar {
    font-size: 80%;
    padding: 2px;
    overflow-x: hidden;
  }
}
