.distribute {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__content-container {
    margin-top: $unit;
  }

  &__save-section {
    margin-top: $unit;
    border: 1px solid $color-gray-1;
    padding: $unit-p2;
  }

  &__section {
    &--connect {
      display: flex;
    }
  }

  &__section-left {
    width: 50%;
    margin-right: $unit-p4;
    border: 1px solid $color-gray-1;
    padding: $unit-p2;
    flex: 1;
  }

  &__section-right {
    width: 50%;
    margin-left: $unit-p4;
    flex: 1;
    display: flex;
  }

  &__content {
    &--lyrics {
      width: 100%;
      max-height: 500px;
      height: 100%;
      overflow: auto;
      padding: $unit-p2;
      border: 1px solid $color-gray-1;
    }
  }

  &__members {
    background: $color-gray-1;
    padding: $unit-p4;
    padding-bottom: 0;
    display: flex;
    flex-wrap: wrap;
  }

  &__member-pill {
    cursor: pointer;
    border: 2px solid $color-gray-1;
    white-space: nowrap;
    width: 25%;
    box-shadow: 1px 1px 5px $color-gray-2;
    overflow: hidden;

    &:hover {
      border: 2px solid $color-primary;
    }

    &.active {
      color: $color-negative;
      border: 2px dashed $color-negative !important;
    }
  }

  &__pill-group {
    width: 100%;
    display: flex;

    .distribute__rates--half & {
      width: 49%;

      &:nth-child(even) {
        margin-left: 2%;
      }
    }
  }

  &__rates {
    background: $color-gray-1;
    padding: $unit-p4;
    padding-bottom: 0;
    display: flex;
    list-style: none;
    width: 100%;
    flex-direction: column;

    &--half {
      flex-direction: row;
      flex-wrap: wrap;
    }

    &__percentage {
      margin-right: 0;
    }

    &__percentage-pill {
      height: 30px;
    }

    &__percentage-bar-group {
      position: relative;
      width: 75%;
      height: 30px;
      background: $color-negative;
      margin-right: 0;
    }

    &__percentage-value {
      position: absolute;
      top: 7px;
      left: 7px;
      z-index: 10;
    }

    &__percentage-bar {
      height: 30px;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 9;
      border-radius: $unit-p4;
    }
  }

  &__distribution-category select {
    display: block;
  }
}

.distribution {
  &__lyrics {
    &__line {
      margin: $unit-p4 0;

      &--icon {
        margin-right: $unit-p4;
        cursor: pointer;
      }

      &--part-active {
        background: $color-orange;
      }
    }
  }
}
