.distribute-viewer-grid {
  display: grid;
  grid-template-columns: 10% 80% 10%;
  margin-top: get-unit(3);

  &__aside {
    list-style: none;
    padding: get-unit(2);
  }
}

.distribute-viewer-modes-title {
  text-transform: uppercase;
  text-align: center;
}

.distribute-viewer-mode {
  text-transform: uppercase;
  text-align: center;
}

.distribute-viewer-video {
  width: 100%;
  max-width: 80vw;
  height: 100%;

  @media screen and (min-width: $break-small) {
    min-height: 200px;
  }

  @media screen and (min-width: $break-medium) {
    min-height: 420px;
  }

  @media screen and (min-width: $break-large) {
    min-height: 540px;
  }

  @media screen and (min-width: $break-x-large) {
    min-height: 720px;
  }

  &__youtube {
    text-align: center;
    position: relative;
    background: get-color(black);
    border-radius: get-unit(2);
  }
}

.distribute-viewer-overlay {
  color: get-color(white);
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  // background: yellowgreen;

  &__active-members {
    width: 100%;
    height: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__active-member {
    width: 100px; // TO-DO: media-query-it
    height: 100px; // TO-DO: media-query-it
    background: palevioletred;
    border-radius: 50%;
    display: inline-block;
    margin: get-unit(3);
    border: get-unit(1) solid white;
  }

  &__lyrics {
    width: 100%;
    height: 10%;
    text-align: center;
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.75) 0%,
      rgba(0, 0, 0, 0) 100%
    );

    p {
      margin: 0;
      padding: 0;
    }
  }

  &__bars {
    width: 100%;
    height: 55%;
    display: flex;
    background: rgba(0, 0, 0, 0.8);
    padding: get-unit(2);
  }

  &__bars-group {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &--1 {
      width: 100%;
    }

    &--2 {
      width: 50%;
    }

    &--3 {
      width: 33%;
    }
  }
}

.distribute-viewer-video-float {
  color: white;
  position: absolute;

  &__inner {
    margin: 0 auto;
    height: 100%;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: space-evenly;
    padding: get-unit(4);

    &__member {
      width: 100%;
      // background: grey;
      padding: get-unit(2);
    }
  }
}

.distribute-viewer-controls {
  border-width: 1px;
  border-style: solid;
  border-radius: get-unit(1);
  border-color: get-color(gray, 2);
  display: flex;

  &__button {
    flex: 1;
    border: 0;
    padding: get-unit(3) get-unit(4);
    cursor: pointer;
    background: get-color(negative);

    &:hover {
      background: get-color(gray, 1);
    }
  }
}

.distribute {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__content-container {
    margin-top: get-unit(3);
  }

  &__save-section {
    margin-top: get-unit(3);
    border: 1px solid get-color(gray, 1);
    padding: get-unit(2);
  }

  &__section {
    &--connect {
      display: flex;
    }
  }

  &__section-left {
    width: 50%;
    margin-right: get-unit(1);
    border: 1px solid get-color(gray, 1);
    padding: get-unit(2);
    flex: 1;
  }

  &__section-right {
    width: 50%;
    margin-left: get-unit(1);
    flex: 1;
    display: flex;
  }

  &__content {
    &--lyrics {
      width: 100%;
      max-height: 500px;
      height: 100%;
      overflow: auto;
      padding: get-unit(2);
      border: 1px solid get-color(gray, 1);
    }
  }

  &__members {
    background: get-color(gray, 1);
    padding: get-unit(1);
    padding-bottom: 0;
    display: flex;
    flex-wrap: wrap;
  }

  &__member-pill {
    cursor: pointer;
    border: 2px solid get-color(gray, 1);
    white-space: nowrap;
    width: 25%;
    box-shadow: 1px 1px 5px get-color(gray, 2);
    overflow: hidden;

    &:hover {
      border: 2px solid get-color(primary);
    }

    &.active {
      color: get-color(negative);
      border: 2px dashed get-color(negative) !important;
    }
  }

  &__pill-group {
    width: 100%;
    display: flex;

    .distribute__rates--half & {
      width: 49%;

      &:nth-child(even) {
        margin-left: 2%;
      }
    }
  }

  &__rates {
    background: get-color(gray, 1);
    padding: get-unit(1);
    padding-bottom: 0;
    display: flex;
    list-style: none;
    width: 100%;
    flex-direction: column;

    &--half {
      flex-direction: row;
      flex-wrap: wrap;
    }

    &__percentage {
      margin-right: 0;
    }

    &__percentage-pill {
      height: 30px;
    }

    &__percentage-bar-group {
      position: relative;
      width: 75%;
      height: 30px;
      background: get-color(negative);
      margin-right: 0;
    }

    &__percentage-value {
      position: absolute;
      top: 7px;
      left: 7px;
      z-index: 10;
    }

    &__percentage-bar {
      height: 30px;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 9;
      border-radius: get-unit(1);
    }
  }

  &__distribution-category select {
    display: block;
  }
}

.distribute-viewer {
  background: red;
  width: 100%;
  display: flex;
  align-items: flex-start;

  &__modes {
    width: 10vw;
    list-style: none;
    padding: get-unit(2);

    & li {
      background: green;
    }
  }

  &__mode-text {
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
  }

  &__video {
    width: 100%;
    max-width: 80vw;
    flex-grow: 1;
    background: yellow;
  }
}

.distribute-progress-bar {
  width: 100%;
  padding: 0 get-unit(2) get-unit(2) get-unit(2);
  display: flex;
  align-items: center;

  &__name {
    display: inline-block;
    font-weight: bold;
    text-transform: uppercase;
    width: 80px;
    text-align: right;
    margin-right: get-unit(4);
  }

  &__progress {
    display: inline-block;
    width: 70%;
    background: get-color(gray, 4);
    border-radius: get-unit(3);
    height: 10px;
    position: relative;
  }

  &__bar {
    height: 10px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: get-unit(3);
    transition: 0.5;
  }

  &__active-icon {
    display: inline-block;
    width: 10px;
    height: 10px;
    background: get-color(negative);
    border-radius: 50%;
    margin: 0 get-unit(3);
  }

  &__duration {
    color: get-color(negative);
    width: 10px;
    margin: 0 get-unit(3);
    max-height: 10px;
    transform: translateY(get-unit(1) * -1);
  }
}

.distribution {
  &__lyrics {
    &__line {
      margin: get-unit(1) 0;

      &--icon {
        margin-right: get-unit(1);
        cursor: pointer;
      }

      &--part-active {
        background: get-color(orange);
      }
    }
  }
}
