.idols {
  &__filter-title {
    display: block;
    color: get-color(gray, 4);
    text-transform: uppercase;
    margin-bottom: get-unit(3);
  }

  &__filter-name {
    margin-right: get-unit(2);
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  &__filter-label {
    margin-left: get-unit(1);
  }
}
