.container--login-required {
  background: linear-gradient(#ffffff, #ebebf2);
}

.login-required-content {
  width: 50%;
  max-width: 500px;

  p {
    text-align: center;
    margin: $unit-x2 0;
  }

  button {
    display: block;
    margin: 0 auto;
  }
}
