$artist-panel-width: 20%;
$unit-panel-width: 20%;
$members-panel-width: 60%;

@mixin section {
  background: $color-gray-2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: $unit-x2;
}

@mixin section-edit {
  background: $color-negative;
  border: 2px solid $color-gray-2;
  display: flex;
  flex-direction: column;
  padding: $unit-x2;
  justify-content: space-between;
}

.manage-section {
  width: 100%;
  display: flex;
  flex-direction: column;

  &--manage-success {
    text-align: center;
  }
}

.manage-form {
  display: flex;
  flex-direction: row;

  &__artist {
    @include section;
    width: $artist-panel-width;
    border-right: 1px solid $color-gray-1;
    border-radius: $unit-p2 0 0 $unit-p2;
  }

  &__artist-edit {
    @include section-edit;
    width: $artist-panel-width;
    border-right: 1px solid $color-gray-1;
    border-radius: $unit-p2 0 0 $unit-p2;
  }

  &__unit {
    @include section;
    width: $unit-panel-width;
    border-right: 1px solid $color-gray-1;
  }

  &__unit-edit {
    @include section-edit;
    width: $unit-panel-width;
    border-right: 1px solid $color-gray-1;
    align-items: flex-start;
  }

  &__members {
    @include section;
    width: $members-panel-width;
    border-radius: 0 $unit-p2 $unit-p2 0;
  }

  &__members-edit {
    @include section-edit;
    width: $members-panel-width;
    border-radius: 0 $unit-p2 $unit-p2 0;
    align-items: flex-start;
    flex-direction: row;
    height: 420px;
    overflow-y: auto;
  }

  &__button-title {
    // background: red;
  }

  &__button-locked {
    width: 100px;
    height: 100px;
    background: none;
    border: 0;
    border-radius: 50%;
  }

  &__button-lock-image {
    border-radius: $unit;
  }

  &__button-add {
    width: 100px;
    height: 100px;
    background: none;
    border: 0;
    border-radius: 50%;
    cursor: pointer;

    &:hover {
      transform: scale(1.05);
    }
  }

  &__button-add-image {
    width: 100%;
    border-radius: 50%;
  }

  &__button-typeahead {
    padding: $unit-p4 $unit;
    border: 1px solid $color-gray-3;
    border-radius: $unit-p4;
    background: $color-gray-1;
  }

  &__valid {
    border: 2px solid $color-green;
    background: $color-negative;
    padding: $unit-p2;
    border-radius: $unit-p2;
    color: $color-green;
  }

  &__inline {
    // width: 100%;
    display: flex;
  }

  &__label {
    display: block;
    margin-bottom: $unit;
  }

  &__label--70 {
    width: 70%;
  }

  &__label--50 {
    width: 50%;
    margin-left: $unit-p4;
  }

  &__label--40 {
    width: 40%;
    margin-left: $unit-p4;
  }

  &__label--30 {
    width: 30%;
    margin-left: $unit-p4;
  }

  &__input {
    width: 100%;
    border: 1px solid $color-gray-1;
  }

  &__navigation {
    display: flex;
    width: 100%;
    justify-content: flex-end;

    & > * {
      margin-right: $unit;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__form-group-member {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__form-member {
    width: 32%;
    margin-bottom: $unit;
  }

  .option-swatch {
    // display: inline-block;
    // width: 30px;
    // height: 30px;
    // background: red;
  }
}

.manage-form-nav {
  text-align: right;
  margin: $unit;

  .btn {
    margin-left: $unit-p2;
  }
}

.manage-member {
  padding: $unit-p2;
  border-radius: $unit-p4;
  background: $color-gray-1;
  max-width: 170px;
  // border: 3px solid gold;
  &__title {
    display: block;
    font-weight: bold;
    margin-bottom: $unit-p2;
    background: $color-gray-3;
    padding: 0 $unit-p4;
    border-radius: $unit-p4;
  }
}

.manage-member-new {
  padding: $unit-p2;
  border-radius: $unit-p4;
  background: $color-gray-2;
  max-width: 170px;
  text-align: center;

  &__title {
    display: block;
    font-weight: bold;
    margin-bottom: $unit-p2;
    background: $color-gray-3;
    padding: 0 $unit-p4;
    border-radius: $unit-p4;
  }
}

.position-buttons {
  margin-top: -12px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 100px;
}

$checkbox-size: 30px;

.position-checkbox {
  appearance: none;
  border: 2px solid $color-primary;
  width: $checkbox-size;
  height: $checkbox-size;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  margin: 0;
  margin-right: $unit-p4;

  &:checked {
    border: 2px solid $color-yellow;
  }
}

.position-checkbox-main-vocalist {
  background-image: url(./../images/icon-main-vocalist.svg);
}

.position-checkbox-main-rapper {
  background-image: url(./../images/icon-main-rapper.svg);
}

.position-checkbox-main-dancer {
  background-image: url(./../images/icon-main-dancer.svg);
}

.position-checkbox-lead-vocalist {
  background-image: url(./../images/icon-lead-vocalist.svg);
}

.position-checkbox-lead-rapper {
  background-image: url(./../images/icon-lead-rapper.svg);
}

.position-checkbox-lead-dancer {
  background-image: url(./../images/icon-lead-dancer.svg);
}

.position-checkbox-vocalist {
  background-image: url(./../images/icon-vocalist.svg);
}

.position-checkbox-rapper {
  background-image: url(./../images/icon-rapper.svg);
}

.position-checkbox-dancer {
  background-image: url(./../images/icon-dancer.svg);
}

.position-checkbox-leader {
  background-image: url(./../images/icon-leader.svg);
}

.position-checkbox-visual {
  background-image: url(./../images/icon-visual.svg);
}

.position-checkbox-center {
  background-image: url(./../images/icon-center.svg);
}

.color-reference-bar {
  width: 100%;
  padding: 0;
  list-style: none;
  display: flex;
  border-radius: $unit-p2;
  overflow: hidden;
}

.color-reference-item {
  width: 3.33334%;
  text-align: center;
  padding: $unit-p4;
  box-sizing: border-box;

  &--in-use {
    border: 2px solid $color-primary;
    color: $color-negative;
  }
}

.btn-remove-user {
  background: none;
  border: none;
  float: right;
  font-weight: bolder;
  cursor: pointer;

  &:hover {
    transform: scale(1.5);
  }
  &:focus {
    outline: none;
  }
}

.btn-resync-db {
  position: absolute;
  right: $unit-x2;
  top: $unit-x2;
}
