@mixin section {
  background: $color-gray-2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.manage-group {
  width: 100%;
  display: flex;
  min-height: 500px;
}

.manage-section {
  &__artist {
    @include section;
    width: 25%;
    border-right: 1px solid $color-gray-1;
    border-radius: $unit-p2 0 0 $unit-p2;
  }

  &__unit {
    @include section;
    width: 25%;
    border-right: 1px solid $color-gray-1;
  }

  &__members {
    @include section;
    width: 50%;
    border-radius: 0 $unit-p2 $unit-p2 0;
  }

  &__button-title {
    // background: red;
  }

  &__button-add {
    width: 100px;
    height: 100px;
    background: none;
    border: 0;
    border-radius: 50%;
    cursor: pointer;

    &:hover {
      transform: scale(1.05);
    }
    // background: green;
  }

  &__button-add-image {
    width: 100%;
    border-radius: 50%;
  }

  &__button-typeahead {
    padding: $unit-p4 $unit;
    border: 1px solid $color-gray-3;
    border-radius: $unit-p4;
    background: $color-gray-1;
  }
}
