$artist-panel-width: 20%;
$unit-panel-width: 20%;
$members-panel-width: 60%;

@mixin section {
  background: $color-gray-2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: $unit-x2;
}

@mixin section-edit {
  background: $color-negative;
  border: 2px solid $color-gray-2;
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: center;
  padding: $unit-x2;
}

.manage-section {
  width: 100%;
  display: flex;
  min-height: 500px;

  &__artist {
    @include section;
    width: $artist-panel-width;
    border-right: 1px solid $color-gray-1;
    border-radius: $unit-p2 0 0 $unit-p2;
  }

  &__artist-edit {
    @include section-edit;
    width: $artist-panel-width;
    border-right: 1px solid $color-gray-1;
    border-radius: $unit-p2 0 0 $unit-p2;
    align-items: flex-start;
  }

  &__unit {
    @include section;
    width: $unit-panel-width;
    border-right: 1px solid $color-gray-1;
  }

  &__members {
    @include section;
    width: $members-panel-width;
    border-radius: 0 $unit-p2 $unit-p2 0;
  }

  &__button-title {
    // background: red;
  }

  &__button-locked {
    width: 100px;
    height: 100px;
    background: none;
    border: 0;
    border-radius: 50%;
  }

  &__button-lock-image {
    border-radius: $unit;
  }

  &__button-add {
    width: 100px;
    height: 100px;
    background: none;
    border: 0;
    border-radius: 50%;
    cursor: pointer;

    &:hover {
      transform: scale(1.05);
    }
  }

  &__button-add-image {
    width: 100%;
    border-radius: 50%;
  }

  &__button-typeahead {
    padding: $unit-p4 $unit;
    border: 1px solid $color-gray-3;
    border-radius: $unit-p4;
    background: $color-gray-1;
  }

  &__valid {
    border: 2px solid $color-green;
    background: $color-negative;
    padding: $unit-p2;
    border-radius: $unit-p2;
    color: $color-green;
  }
}

.manage-form {
  &__label {
    display: block;
    margin-bottom: $unit;
  }

  &__input {
    width: 100%;
    border: 1px solid $color-gray-1;
  }

  &__navigation {
    display: flex;
    width: 100%;

    & > * {
      margin-right: $unit;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
