.previously-distributed-row {
  background: rgb(236, 255, 238);
}

.songs-filters-group {
  background: $color-gray-1;
  display: flex;
  border: 1px solid $color-gray-1;
  padding: get-unit(2);
}

.songs-filter-group {
  display: flex;
  flex-direction: column;
  margin-right: get-unit(5);
}
