$header_height: 36px;

.header {
  width: 100%;
  display: flex;
  padding: $padding;
  background-color: $color-primary;
  background: linear-gradient(to right, #000000, #000d71);
}

.header-nav {
  width: 70%;
  display: flex;
  align-items: center;

  &__logo {
    height: $header_height;
    margin-right: $unit;
  }

  &__links {
    color: $color-negative;

    a,
    button {
      font-size: $unit;
      background: transparent;
      color: $color-negative;
      text-decoration: none;
      padding: $unit-p2 $unit;
      border-width: 2px;
      border-style: solid;
      border-color: transparent;
      border-right-color: $color-grey-3;
      border-right-width: 1px;

      &:last-child {
        border-right-color: transparent;
      }

      &:visited {
        color: $color-negative;
      }

      &:hover {
        border-bottom-color: $color-grey-3;
      }

      &.active {
        border-bottom-color: $color-negative;
      }
    }
  }
}

.header-user {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;

  &__nav {
    font-size: $unit;
    background: transparent;
    color: $color-negative;
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
    display: flex;
    align-items: center;
    border-radius: $border-radius;

    &:hover {
      background: rgba(255, 255, 255, 0.25);
    }
  }

  &__photo {
    height: $header_height;
    margin-right: $unit;
    border-radius: 50%;
  }

  &__dropdown {
    display: none;
    position: absolute;
    background-color: $color-negative;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 11;
    top: 42px;
    border-top: 6px solid #00076f;

    hr {
      border: 1px solid $color-grey-1;
    }

    a {
      color: $color-primary;
      padding: $unit-p2;
      text-decoration: none;
      display: block;
      border-left-width: 3px;
      border-color: transparent;
      border-style: solid;

      &:hover {
        background-color: $color-grey-1;
        border-left-color: $color-blue;
      }
    }
  }

  &:hover .header-user__dropdown {
    display: block;
  }
}
