body {
  margin: 0;
  padding: 0;
  background: #fff;
  font-size: $unit;
}

* {
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
