@import './variables.scss';

$colorCodes: #ce311b, #ff6347, #ffa07a, #9a5827, #ff8e2a, #cd7f32, #d2b48c,
  #b8850b, #e2b631, #ffe400, #808000, #ffff66, #ccff26, #7fb817, #5d8c56,
  #147d14, #59ff84, #15aa98, #83eeea, #39badd, #285986, #406fff, #6687ff,
  #7b68ee, #a177ef, #f7d0ff, #9e35ae, #fc6be9, #9c1465, #e62e8a, #983c4b,
  #ffabb9, #d01f3c, #a6a89d, #777278, #575d63;

// COLOR CLASSES
@for $i from 1 through length($colorCodes) {
  .color-#{$i} {
    background-color: #{nth($colorCodes, $i)} !important;
  }
}

// // Dark colors get white lettering
// .color-4,
// .color-15,
// .color-21,
// .color-29,
// .color-31,
// .color-36 {
//   color: #fff !important;
// }

// GRADIENT CLASSES
$bgpercentage1: 50%;
$bgpercentage2: 60%;

@for $i from 1 through length($colorCodes) {
  @for $j from 1 through length($colorCodes) {
    .color-#{$i}-color-#{$j} {
      background-color: nth($colorCodes, $i);
      background: linear-gradient(
        nth($colorCodes, $i) $bgpercentage1,
        nth($colorCodes, $j) $bgpercentage2
      );
    }
  }
}

// UNDEFINED COLOR CLASSES

.color-0,
.color-undefined {
  background-color: #ffffff;
}

$zero: 0;

@for $i from 1 through length($colorCodes) {
  .color-#{$i}-color-#{$zero} {
    background-color: $negative;
    background: linear-gradient(
      nth($colorCodes, $i) $bgpercentage1,
      $negative $bgpercentage2
    );
  }
  .color-#{$zero}-color-#{$i} {
    background-color: $negative;
    background: linear-gradient(
      $negative $bgpercentage1,
      nth($colorCodes, $i) $bgpercentage2
    );
  }
}

.color-palette {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.palette {
  width: 100px;
  max-width: 100px;
  height: 100px;
  margin: 5px;
  text-align: right;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.palette-alt {
  width: 100px;
  max-width: 100px;
  height: 130px;
  margin: 5px;
  text-align: right;
}

.palette-main {
  width: 100%;
  height: 100px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.palette-alt-group {
  height: 30px;
  display: flex;
  align-items: stretch;
}

.palette-alt-swatch {
  width: 33%;
  outline: 1px solid $negative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: $quarterUnit;
}
