@import './variables.scss';

.container-distribution {
  display: flex;

  .options {
    position: absolute;
    top: 0;
    right: $halfUnit;

    & > * {
      margin-left: $unit;
    }
  }
}

.section-lyrics {
  padding-left: $unit;
  transition: width 1s;
  display: flex;
  flex-direction: column;

  .editor {
    display: block;
    width: 100%;
    min-height: 250px;
    min-height: 100px;
    margin-top: $unit;
    padding: $unit;
  }

  .viewer {
    @extend .editor;
    border: 1px solid $primary;
    min-height: 20px;
    font-size: 11px;
    overflow-y: auto;

    p {
      margin: 0;
    }
  }

  .alert {
    font-style: italic;
    color: red;
    font-size: 90%;
  }
}

.section-lyrics-off {
  width: 0px;
  opacity: 0;
}

.section-lyrics-on {
  width: 30%;
  min-width: 30%;
}

.controls {
  margin: 0;
  padding: $halfUnit 0;
  list-style: none;
  display: flex;
  justify-content: space-evenly;

  li {
  	flex: 1 1 0;
  	padding: 0 $halfUnit;
  }
}

.current-singer {
	text-align: center;
}

.progress-bar {
	width: 100%;
	height: 20px;
	box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
	border-radius: $halfUnit;
	display: flex;
}

.bar {
	width: 0px;
	height: 20px;
}

@for $i from 0 through 100 {
  .bar-width-#{$i} {
    width: $i * 1% !important;
    -webkit-transition: width 2s, height 4s;
    transition: width 1s;
  }
}

.boxes {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.box {
	border: 0;
	border-radius: $halfUnit;
	padding: $unit $halfUnit;
	margin: $halfUnit;
	cursor: pointer;

	span {
		display: block;
		width: 100%;
		text-align: center;
	}

  .key {
    display: inline-block;
    width: auto;
    padding: $quarterUnit 8px;
    border: 1px outset $negative;
    border-radius: $halfUnit;
    background: rgba(255, 255, 255, 0.4);
    font-weight: bold;
  }

	.member-name {
    margin: $halfUnit 0;
    text-transform: uppercase;
    font-size: $unit;
    font-weight: bold;
	}
}

.box-2 {
	width: calc(50% - 12px);
}

.box-3 {
	width: calc(33% - 10px);
}

.box-4 {
	width: calc(25% - 12px);
}

.box-5 {
	width: calc(20% - 12px);
}

.log {
	@extend .controls;
	justify-content: start;
  margin-top: $halfUnit;
	font-size: 80%;
  flex-wrap: wrap;
  padding: $halfUnit;
  border: 1px solid $lightGrey;
}

.log-item {
  padding: $halfUnit;
  border-radius: $halfUnit;
  margin: $halfUnit $halfUnit;
  cursor: pointer;
  border: 1px solid $negative;
  min-width: 1px;
  transition: min-width 1s ease;

  .details {
    margin-left: $quarterUnit;
    display: none;
    min-width: 1px;
    transition: min-width 1s ease;
  }

  &:hover {
    background: white !important;
    border: 1px solid $primary;
    min-width: auto;

    .details {
      display: inline-block;
      min-width: auto;
    }
  }
}

