@import './variables.scss';

.pill {
  width: 18%;
  min-width: 180px;
  max-width: 250px;
  padding: $halfUnit;
  margin-right: $unit;
  margin-bottom: $unit;
  border-right: 1px solid $lightGrey;
  border-bottom: 1px solid $lightGrey;

  p {
    margin: $halfUnit 0;
  }
}

.pill-member-header {
  position: relative;
}

.pill-name {
  text-transform: uppercase;
  font-weight: bold;
  // position: absolute;
  margin: 0;
  bottom: -1.5em;
  color: $primary;
  font-size: 1.5em;
  // box-shadow: 2px 2px red;
}

.pill-profile-image {
  display: block;
  width: 100%;
  object-fit: cover;
  height: 40px;
}

.pill-color-bar {
  width: 100%;
  display: flex;
  height: $halfUnit;
  // margin-bottom: $halfUnit;
}

.pill-color-main {
  display: block;
  height: $halfUnit;
  width: 80%;
}

.pill-color-alt {
  display: block;
  height: $halfUnit;
  width: 20%;
}

.pill-positions {
  margin-top: -12px;
  padding-left: 0px;
  list-style: none;
}

.pill-positions-creator {
  @extend .pill-positions;
  margin-top: $quarterUnit;
}

.pill-icon {
  display: inline-block;
  transform: translateY(10px);
}

.pill-test {
  border: red 1px solid;
}
