@import './variables.scss';

.results {
  padding: 0;
}

.results-bar {
  display: block;
  // border: 1px outset;
  border-bottom: 1px solid $lightGrey;
  border-right: 1px solid $lightGrey;
  border-bottom-right-radius: $halfUnit;
  margin-bottom: $halfUnit;
}

.results-bar-text {
  display: block;
  width: 100%;
}

.results-bar-color {
  display: block;
  height: $halfUnit;
}

.label-green {
  color: green;
  font-weight: bold;
  margin-left: $halfUnit;
}

.label-red {
  color: red;
  font-weight: bold;
  margin-left: $halfUnit;
}

.modal {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10000;
  background: rgba(1,1,1,.9);

  .modal-save {
    width: 80%;
    min-width: 500px;
    background: $negative;
    padding: $unit $doubleUnit;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .modal-group {
    // outline: 1px solid red;
    margin: $unit 0;

    label {
      margin-right: $unit;
    }
  }
}
