@import './variables.scss';

.sync-grid-group-main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto 75px;
  grid-column-gap: $unit;
  grid-row-gap: $unit;
  width: 100%;
}

// Child of .sync-grid-group-main
.sync-grid-video-link,
.sync-grid-form {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
  text-align: center;
}

// Child of .sync-grid-group-main
.sync-grid-video {
  width: 100%;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

// Child of .sync-grid-group-main
.sync-grid-instructions {
  width: 100%;
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  text-align: center;

  &__title {
    margin-top: $unit;
    margin-bottom: $doubleUnit;
  }

  &__list {
    padding-left: 0;
    list-style: none;
  }
}

// Child of .sync-grid-group-main AND Parent of follwing children
.sync-grid-section {
  width: 100%;
  grid-column: 1 / 3;
  grid-row: 2 / 6;
  display: grid;

  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto auto 75px;
  grid-column-gap: $unit;
  grid-row-gap: 0;
}

.sync-grid-video-placeholder {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  height: 1000px;
}

.sync-grid-lyrics {
  width: 100%;
  grid-column: 2 / 3;
  grid-row: 1 / 4;

  &__controls {
    margin-bottom: $unit;

    & > .btn {
      margin-right: $halfUnit;
    }
  }

  &__textarea {
    width: 100%;
    min-height: 600px;
    resize: none;
    border: 1px solid $darkGrey;
  }
}

.sync-grid-navigation {
  width: 100%;
  grid-column: 1 / 3;
  grid-row: 4 / 5;
  display: flex;
  justify-content: center;
  margin: $doubleUnit 0;
}

.sync-grid-boxes {
  margin: $unit 0;
  width: 100%;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  z-index: 40000;
  height: 100px;
  display: flex;
  justify-content: center;
  & > .box-25 {
    width: 25%;
  }
}

.sync-grid-distribution {
  width: 100%;
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

.sync-grid-form-check {
  grid-column: 1 / 2;
  grid-row: 2 / 4;
  margin-top: $unit;
}

.sync-info {
  margin: 0 auto;
  max-width: 600px;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;

  &__item {
    display: flex;
    margin-bottom: $unit;

    & > .ld-form__label {
      width: 30%;
      margin-right: 12px;
      text-align: right;
      display: -ms-flexbox;
      display: flex;
      padding-bottom: 6px;
      align-items: flex-end;
      justify-content: flex-end;
    }
  }
}

.sync-log {
  border: 1px solid $lightGrey;
  padding: $quarterUnit;
  display: flex;
  flex-wrap: wrap;

  &__pill {
    border: 2px solid white;
    border-radius: $halfUnit;
    padding: $quarterUnit $halfUnit;
    margin: $quarterUnit $halfUnit;
    cursor: pointer;

    &:hover {
      background: white;
      border: 2px solid black;
    }

    &.active {
      border: 2px solid black;
      background: white;
      animation: shake 0.5s;
      animation-iteration-count: infinite;
      transform: translate3d(0, 0, 0);
    }
  }

  &__num {
    margin-left: $quarterUnit;
  }

  &__trash {
    float: right;
    cursor: pointer;
  }

  &__controls {
    margin-top: $unit;
    & > button {
      margin-right: $halfUnit;
    }
  }
}

.sync-lyrics-locked {
  width: 100%;
  min-height: 600px;
  border: 1px solid $lightGrey;
  padding: $quarterUnit;
}

.sync-lyrics-line {
  display: block;
  background: #fdf1f4;
  margin-bottom: $quarterUnit;

  &__part {
    cursor: pointer;

    &:hover {
      border: 2px ridge blue;
      padding: $quarterUnit;
      border-radius: $quarterUnit;
    }

    &.active {
      border: 2px solid black;
      background: yellow;
      padding: $quarterUnit;
      border-radius: $quarterUnit;
    }
  }
}

.sync-lyrics-done {
  &__line {
    margin-bottom: $quarterUnit;
  }

  &__part {
    background: white;

    &--active {
      background: pink;
      padding: 0 $quarterUnit;
      border-radius: $quarterUnit;
    }
  }
}

.sync-sequence-true {
  background: red;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  30%,
  80% {
    transform: translate3d(1px, 0, 0);
  }

  50% {
    transform: translate3d(-1px, 0, 0);
  }

  70% {
    transform: translate3d(1px, 0, 0);
  }

  20% {
    transform: translate3d(0, -1px, 0);
  }

  40% {
    transform: translate3d(-1px, 1px, 0);
  }

  60% {
    transform: translate3d(0, -1px, 0);
  }

  80% {
    transform: translate3d(0, 1px, 0);
  }
}
