// UNITS
$unit-p4: 3px;
$unit-p2: 6px;
$unit: 12px;
$unit-x2: 24px;
$unit-x4: 48px;

$padding: 6px;
$border-radius: 3px;

// COLORS
$color-primary: #111111;
$color-negative: #ffffff;
$color-grey-1: #ebebf2;
$color-grey-2: #b5b5ba;
$color-grey-3: #7e7e82;
$color-grey-4: #484849;

$color-blue: #598ffd;

// $quarterUnit: 3px;
// $halfUnit: 6px;
// $unit: 12px;
// $doubleUnit: 24px;
// $padding: 6px;
// $outerMargin: 48px;
