@import './variables.scss';

.switch {
  position: relative;
  display: inline-block;
  margin-top: $unit;
  width: 46px;
  height: 20px;
}

// Slider
.switch input {
	display: none;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 4px;
  left: 0;
  right: 0;
  bottom: -4px;
  background-color: #ccc;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  transform: translateX(16px);
}

.slide-text-left {
	margin-right: $halfUnit;
}

.slide-text-right {
	margin-left: $halfUnit;
}

.widget-h1-title {
  font-size: $unit;
  font-weight: normal;
  color: $darkGrey;
  margin-left: $unit;
}
