@import './variables.scss';

.btn {
  padding: 1px $halfUnit 1px;
  border: 1px outset $lightGrey;
  border-radius: 4px;
  font-size: 10px;
  box-shadow: 0 1px 1px $lightGrey;
  cursor: pointer;
  min-height: $doubleUnit;

  &:hover {
    background: $lightGrey;
    border: 1px outset $grey;
  }
}

.btn-lg {
  @extend .btn;
  font-size: $unit;
	width: auto;
	padding: $unit;
	font-size: 1.1em;
  border-radius: 5px;
}

.btn-decrease {
	border: 1px outset #FF1D25;
  background-color: #FF6E73;
}

.btn-inline {
  margin-right: $halfUnit;
}

.btn-100 {
  width: 100%;
}

.btn-50 {
  width: 50%;
}

.btn-25 {
  width: 25%;
}

.btn-20 {
  width: 20%;
}

.btn-close {
  background: none;
  border: 0;
  transform: translateY(-2px);
  color: $darkGrey;
  cursor: pointer;

  &:hover {
    color: $defaultBlue;
  }

  &:focus {
    outline: none;
  }
}

.btn-fx-100 {
  width: 100px;
}

.btn-fx-150 {
  width: 150px;
}

.btn-fx-200 {
  width: 200px;
}
