@import './variables.scss';

$colorCodes:  #E72408, #FF6347, #FFA07A, #8B4513, #FF8E2A, #cd7f32, #D2B48C, #B8850B, #E2B631, #FFE400, #808000, #FFFF66, #CCFF26, #7FB817, #33602d, #008000, #59FF84, #15AA98, #83EEEA, #39BADD, #1F4C75, #406FFF, #6687FF, #7B68EE, #A177EF, #F7D0FF, #9E35AE, #FC6BE9, #9C1465, #E62E8A, #7F1F2F, #FFABB9, #D01f3C, #A6A89D, #777278, #414549;

// COLOR CLASSES
@for $i from 1 through length($colorCodes) {
  .color-#{$i} {
    background-color: #{nth($colorCodes, $i)} !important;
  }
}

// Dark colors get white lettering
.color-4, .color-15, .color-21, .color-29, .color-31, .color-36 {
  color: #fff !important;
}

// GRADIENT CLASSES
$bgpercentage1: 50%;
$bgpercentage2: 60%;

@for $i from 1 through length($colorCodes) {
  @for $j from 1 through length($colorCodes) {
    .color-#{$i}-color-#{$j} {
      background-color: nth($colorCodes, $i);
      background: linear-gradient(nth($colorCodes, $i) $bgpercentage1, nth($colorCodes, $j) $bgpercentage2);
    }
  }
}

// UNDEFINED COLOR CLASSES

.color-0, .color-undefined {
  background-color: #FFFFFF;
}

$zero: 0;

@for $i from 1 through length($colorCodes) {
  .color-#{$i}-#{$zero} {
    background-color: $negative;
    background: linear-gradient(nth($colorCodes, $i) $bgpercentage1, $negative $bgpercentage2);
  }
  .color-#{$zero}-#{$i} {
    background-color: $negative;
    background: linear-gradient($negative $bgpercentage1, nth($colorCodes, $i) $bgpercentage2);
  }
}

.color-palette {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.palette {
  width: 100px;
  max-width: 100px;
  height: 100px;
  margin: 5px;
  text-align: right;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.palette-alt {
  width: 100px;
  max-width: 100px;
  height: 130px;
  margin: 5px;
  text-align: right;
}

.palette-main {
  width: 100%;
  height: 100px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.palette-alt-group {
  height: 30px;
  display: flex;
  align-items: stretch;
}

.palette-alt-swatch {
  width: 33%;
  outline: 1px solid $negative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: $quarterUnit;
}
