@import './variables.scss';

.container {
	padding: $unit $doubleUnit;
	overflow: auto;
	flex: 1 1 auto;
}

.container-no-padding {
  flex: 1 1 auto;
}

.container-flex {
	display: flex;
}

.container-fixed {
	flex: 1 1 auto;
	overflow: hidden;
  width: 100%;
  position: relative;
}

.container-center {
  display: flex;
  justify-content: center;
  align-items: center;

  .icon-stop {
    width: 120px;
  }

  .icon-loading {
    width: 100px;
  }
}

.container-center--inner {
  @extend .container-center;
  flex-direction: column;
}
