@import './variables.scss';

.container-distribution {
  display: flex;
}

.section-lyrics {
  padding-left: $doubleUnit; 
  transition: width 1s;
  display: flex;
  flex-direction: column;

  .editor {
    display: block;
    width: 100%;
    min-height: 100px;
    margin-top: $doubleUnit;
    padding: $unit;
  }

  .viewer {
    @extend .editor;
    border: 1px solid $black;
    min-height: 20px;
    font-size: 11px;
    overflow-y: auto;

    p {
      margin: 0;
    }
  }

  .alert {
    font-style: italic;
    color: red;
    font-size: 90%;
  }
}

.section-lyrics-off {
  width: 0px;
  opacity: 0;
}

.section-lyrics-on {
  width: 30%;
  min-width: 30%;
}

.controls {
  border: 1px solid $grey;
  margin: 0;
  padding: $unit;
  list-style: none;
  display: flex;
  justify-content: space-evenly;

  li {
  	flex: 1 1 0;
  	padding: 0 $unit;
  }
}

.current-singer {
	text-align: center;
}

.progress-bar {
	width: 100%;
	height: 20px;
	box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
	border-radius: $unit;
	display: flex;
}

.bar {
	width: 0px;
	height: 20px;
}

@for $i from 0 through 100 {
  .bar-width-#{$i} { 
    width: $i * 1% !important;
    -webkit-transition: width 2s, height 4s;
    transition: width 1s;
  }
}

.boxes {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.box {
	border: 0;
	border-radius: $unit;
	padding: $doubleUnit $unit;
	margin: $unit;
	cursor: pointer;

	span {
		display: block;
		width: 100%;
		text-align: center;
	}

  .key {
    display: inline-block;
    width: auto;
    padding: $unit 8px;
    border: 1px outset white;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.4);
  }

	.member-name {
		margin: $unit 0;
	}
}

.box-2 {
	width: calc(50% - 20px);
}

.box-3 {
	width: calc(33% - 20px);
}

.box-4 {
	width: calc(25% - 20px);
}

.box-5 {
	width: calc(20% - 20px);
}

.log {
	@extend .controls;
	justify-content: start;
  margin-top: $unit;
	font-size: 80%;
  flex-wrap: wrap;
}

.log-item {
  padding: $unit;
  border-radius: $unit;
  margin: $unit $unit;
  cursor: pointer;
  border: 1px solid white;
  min-width: 1px;
  transition: min-width 1s ease;

  .details {
    margin-left: $unit;
    display: none;
    min-width: 1px;
    transition: min-width 1s ease;
  }

  &:hover {
    background: white !important;
    border: 1px solid $black;
    min-width: auto;

    .details {
      display: inline-block;
      min-width: auto;
    }
  }
}

.toggle-lyrics {
  float: right;
  margin: $unit;
}