@import './variables.scss';

.app-header {
  background-color: $primary;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  min-height: 36px;
}

.app-header-nav {
  width: 70%;
  display: flex;
  align-items: center;
}

.app-logo {
  max-height: 36px;
  padding: $halfUnit 0;
  cursor: pointer;
}

.app-nav,
.app-nav-admin {
  color: $negative;

  a {
    color: $negative;
    text-decoration: none;
    padding-left: $unit;
    padding-right: $unit;

    &:not(:last-child) {
      border-right: 1px solid $darkGrey;
    }

    &:hover {
      border-bottom: 2px solid $grey;
    }

    &:visited {
      color: $negative;
    }

    .selected {
      border-bottom: 2px solid $darkGrey;
    }
  }
}

.app-nav-admin {
  border: 1px solid #840202;
}

.app-header-user {
  padding: $halfUnit $doubleUnit;
  color: $negative;
  display: flex;
  align-items: center;

  .user-photo {
    max-height: $doubleUnit;
    padding-right: $halfUnit;
    border-radius: 50%;
  }
}

.app-header-btn {
  background: none;
  color: $negative;
  border: 1px solid $negative;
  margin-left: $halfUnit;
}
