@import './variables.scss';

.app-header {
  background-color: $primary;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  min-height: 36px;
  flex-wrap: wrap;
}

.app-header-nav {
  width: 70%;
  display: flex;
  align-items: center;
}

.app-logo, .app-logo-placeholder {
  max-height: 36px;
  padding: $halfUnit 0;
  cursor: pointer;
}

.app-nav {
  color: $negative;

  a, span {
    color: $negative;
    cursor: pointer;
    text-decoration: none;
    padding-left: $unit;
    padding-right: $unit;

    &:not(:last-child) {
      border-right: 1px solid $darkGrey;
    }

    &:hover {
      border-bottom: 2px solid $grey;
    }

    &:visited {
      color: $negative;
    }

    .selected {
      border-bottom: 2px solid $darkGrey;
    }
  }
}

.app-nav-admin {
  background: #440101;

  a:hover {
    border-bottom: 2px solid #840202;
  }
}

.app-header-user {
  padding: $halfUnit $doubleUnit;
  color: $negative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 30%;

  .user-photo {
    max-height: $doubleUnit;
    padding-right: $halfUnit;
    border-radius: 50%;
  }
}

.app-header-btn {
  background: none;
  color: $negative;
  border: 1px solid $negative;
  margin-left: $halfUnit;
  padding: 1px $halfUnit;
  cursor: pointer;
  border-radius: 4px;

  &:hover {
    background: rgba(255, 255, 255, 0.5);
  }
}

.app-header-admin {
  @extend .app-header;

  width: 100%;
  background: $darkGrey;
  justify-content: flex-start;
}

.app-logo-placeholder {
  width: 160px;
}
