@import url("https://fonts.googleapis.com/css?family=Ubuntu:300,500");
.color-blood {
  background-color: #E72408 !important; }

.color-redOrange {
  background-color: #FF6347 !important; }

.color-peach {
  background-color: #FFA07A !important; }

.color-brown {
  background-color: #8B4513 !important; }

.color-orange {
  background-color: #FF8E2A !important; }

.color-dirt {
  background-color: #948271 !important; }

.color-lightBrown {
  background-color: #B87634 !important; }

.color-sand {
  background-color: #D2B48C !important; }

.color-gold {
  background-color: #B8850B !important; }

.color-tan {
  background-color: #E2B631 !important; }

.color-yellow {
  background-color: #FFE400 !important; }

.color-olive {
  background-color: #808000 !important; }

.color-pee {
  background-color: #FFFF66 !important; }

.color-lightGrey {
  background-color: #A6A89D !important; }

.color-yellowGreen {
  background-color: #CCFF26 !important; }

.color-green {
  background-color: #7FB817 !important; }

.color-darkGreen {
  background-color: #355423 !important; }

.color-forest {
  background-color: #008000 !important; }

.color-lime {
  background-color: #59FF84 !important; }

.color-teal {
  background-color: #15AA98 !important; }

.color-cyan {
  background-color: #83EEEA !important; }

.color-turquoise {
  background-color: #39BADD !important; }

.color-navy {
  background-color: #1F4C75 !important; }

.color-darkGrey {
  background-color: #414549 !important; }

.color-blue {
  background-color: #406FFF !important; }

.color-purple {
  background-color: #7B68EE !important; }

.color-violet {
  background-color: #A177EF !important; }

.color-rose {
  background-color: #F7D0FF !important; }

.color-grey {
  background-color: #777278 !important; }

.color-plum {
  background-color: #9E35AE !important; }

.color-pink {
  background-color: #FC6BE9 !important; }

.color-redViolet {
  background-color: #9C1465 !important; }

.color-hotPink {
  background-color: #E62E8A !important; }

.color-wine {
  background-color: #7F1F2F !important; }

.color-salmon {
  background-color: #FFABB9 !important; }

.color-red {
  background-color: #D01F3C !important; }

.color-black, .color-darkGrey {
  color: #fff !important; }

.color-palette {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0; }

.palette {
  width: 100px;
  max-width: 100px;
  height: 100px;
  margin: 5px;
  text-align: right;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; }

body {
  margin: 0;
  padding: 0;
  background: #fff;
  font-size: 14px; }

* {
  box-sizing: border-box;
  font-family: 'Ubuntu', serif; }

.app {
  display: flex;
  flex-direction: column;
  height: 100vh; }

.container {
  padding: 10px 30px;
  overflow: scroll; }

.container-fixed {
  flex: 1 1 auto;
  overflow: hidden; }

.ld-header {
  background-color: #000;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0; }

.ld-logo {
  max-height: 45px;
  padding: 5px; }

.ld-nav {
  color: #fff; }
  .ld-nav a {
    color: #fff;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px; }
    .ld-nav a:not(:last-child) {
      border-right: 1px solid #fff; }
    .ld-nav a:hover {
      border: 1px solid #fff;
      border-bottom: 3px solid #fff; }
    .ld-nav a:visited {
      color: #fff; }

.tiny-h1 {
  margin: 0;
  margin-top: 10px;
  font-size: 12px;
  border-bottom: 1px solid #ccc;
  padding: 5px 0; }

.table {
  border-collapse: collapse; }
  .table thead {
    text-align: left; }
    .table thead th {
      padding: 10px;
      border-bottom: 2px solid #222; }
  .table td {
    padding: 10px;
    border-bottom: 1px solid #ccc; }
  .table tbody tr:hover {
    background: #ccc;
    cursor: pointer; }

.controls, .log {
  border: 1px solid #cccccc;
  margin: 0;
  padding: 5px;
  list-style: none;
  display: flex;
  justify-content: space-between; }
  .controls li, .log li {
    flex: 1 1 0;
    padding: 0 5px; }
  .controls .btn, .log .btn {
    width: 100%;
    padding: 5px;
    font-size: 1.1em;
    background: white;
    border: 1px outset;
    border-radius: 5px;
    cursor: pointer; }
    .controls .btn:hover, .log .btn:hover {
      background: #E6E6E6; }
  .controls .btn-decrease, .log .btn-decrease {
    border: 1px outset #FF1D25;
    background-color: #FF6E73; }

.current-singer {
  text-align: center; }

.progress-bar {
  width: 100%;
  height: 20px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  display: flex; }

.bar {
  width: 0px;
  height: 20px; }

.bar-width-0 {
  width: 0% !important;
  -webkit-transition: width 2s, height 4s;
  transition: width 1s; }

.bar-width-1 {
  width: 1% !important;
  -webkit-transition: width 2s, height 4s;
  transition: width 1s; }

.bar-width-2 {
  width: 2% !important;
  -webkit-transition: width 2s, height 4s;
  transition: width 1s; }

.bar-width-3 {
  width: 3% !important;
  -webkit-transition: width 2s, height 4s;
  transition: width 1s; }

.bar-width-4 {
  width: 4% !important;
  -webkit-transition: width 2s, height 4s;
  transition: width 1s; }

.bar-width-5 {
  width: 5% !important;
  -webkit-transition: width 2s, height 4s;
  transition: width 1s; }

.bar-width-6 {
  width: 6% !important;
  -webkit-transition: width 2s, height 4s;
  transition: width 1s; }

.bar-width-7 {
  width: 7% !important;
  -webkit-transition: width 2s, height 4s;
  transition: width 1s; }

.bar-width-8 {
  width: 8% !important;
  -webkit-transition: width 2s, height 4s;
  transition: width 1s; }

.bar-width-9 {
  width: 9% !important;
  -webkit-transition: width 2s, height 4s;
  transition: width 1s; }

.bar-width-10 {
  width: 10% !important;
  -webkit-transition: width 2s, height 4s;
  transition: width 1s; }

.bar-width-11 {
  width: 11% !important;
  -webkit-transition: width 2s, height 4s;
  transition: width 1s; }

.bar-width-12 {
  width: 12% !important;
  -webkit-transition: width 2s, height 4s;
  transition: width 1s; }

.bar-width-13 {
  width: 13% !important;
  -webkit-transition: width 2s, height 4s;
  transition: width 1s; }

.bar-width-14 {
  width: 14% !important;
  -webkit-transition: width 2s, height 4s;
  transition: width 1s; }

.bar-width-15 {
  width: 15% !important;
  -webkit-transition: width 2s, height 4s;
  transition: width 1s; }

.bar-width-16 {
  width: 16% !important;
  -webkit-transition: width 2s, height 4s;
  transition: width 1s; }

.bar-width-17 {
  width: 17% !important;
  -webkit-transition: width 2s, height 4s;
  transition: width 1s; }

.bar-width-18 {
  width: 18% !important;
  -webkit-transition: width 2s, height 4s;
  transition: width 1s; }

.bar-width-19 {
  width: 19% !important;
  -webkit-transition: width 2s, height 4s;
  transition: width 1s; }

.bar-width-20 {
  width: 20% !important;
  -webkit-transition: width 2s, height 4s;
  transition: width 1s; }

.bar-width-21 {
  width: 21% !important;
  -webkit-transition: width 2s, height 4s;
  transition: width 1s; }

.bar-width-22 {
  width: 22% !important;
  -webkit-transition: width 2s, height 4s;
  transition: width 1s; }

.bar-width-23 {
  width: 23% !important;
  -webkit-transition: width 2s, height 4s;
  transition: width 1s; }

.bar-width-24 {
  width: 24% !important;
  -webkit-transition: width 2s, height 4s;
  transition: width 1s; }

.bar-width-25 {
  width: 25% !important;
  -webkit-transition: width 2s, height 4s;
  transition: width 1s; }

.bar-width-26 {
  width: 26% !important;
  -webkit-transition: width 2s, height 4s;
  transition: width 1s; }

.bar-width-27 {
  width: 27% !important;
  -webkit-transition: width 2s, height 4s;
  transition: width 1s; }

.bar-width-28 {
  width: 28% !important;
  -webkit-transition: width 2s, height 4s;
  transition: width 1s; }

.bar-width-29 {
  width: 29% !important;
  -webkit-transition: width 2s, height 4s;
  transition: width 1s; }

.bar-width-30 {
  width: 30% !important;
  -webkit-transition: width 2s, height 4s;
  transition: width 1s; }

.bar-width-31 {
  width: 31% !important;
  -webkit-transition: width 2s, height 4s;
  transition: width 1s; }

.bar-width-32 {
  width: 32% !important;
  -webkit-transition: width 2s, height 4s;
  transition: width 1s; }

.bar-width-33 {
  width: 33% !important;
  -webkit-transition: width 2s, height 4s;
  transition: width 1s; }

.bar-width-34 {
  width: 34% !important;
  -webkit-transition: width 2s, height 4s;
  transition: width 1s; }

.bar-width-35 {
  width: 35% !important;
  -webkit-transition: width 2s, height 4s;
  transition: width 1s; }

.bar-width-36 {
  width: 36% !important;
  -webkit-transition: width 2s, height 4s;
  transition: width 1s; }

.bar-width-37 {
  width: 37% !important;
  -webkit-transition: width 2s, height 4s;
  transition: width 1s; }

.bar-width-38 {
  width: 38% !important;
  -webkit-transition: width 2s, height 4s;
  transition: width 1s; }

.bar-width-39 {
  width: 39% !important;
  -webkit-transition: width 2s, height 4s;
  transition: width 1s; }

.bar-width-40 {
  width: 40% !important;
  -webkit-transition: width 2s, height 4s;
  transition: width 1s; }

.bar-width-41 {
  width: 41% !important;
  -webkit-transition: width 2s, height 4s;
  transition: width 1s; }

.bar-width-42 {
  width: 42% !important;
  -webkit-transition: width 2s, height 4s;
  transition: width 1s; }

.bar-width-43 {
  width: 43% !important;
  -webkit-transition: width 2s, height 4s;
  transition: width 1s; }

.bar-width-44 {
  width: 44% !important;
  -webkit-transition: width 2s, height 4s;
  transition: width 1s; }

.bar-width-45 {
  width: 45% !important;
  -webkit-transition: width 2s, height 4s;
  transition: width 1s; }

.bar-width-46 {
  width: 46% !important;
  -webkit-transition: width 2s, height 4s;
  transition: width 1s; }

.bar-width-47 {
  width: 47% !important;
  -webkit-transition: width 2s, height 4s;
  transition: width 1s; }

.bar-width-48 {
  width: 48% !important;
  -webkit-transition: width 2s, height 4s;
  transition: width 1s; }

.bar-width-49 {
  width: 49% !important;
  -webkit-transition: width 2s, height 4s;
  transition: width 1s; }

.bar-width-50 {
  width: 50% !important;
  -webkit-transition: width 2s, height 4s;
  transition: width 1s; }

.bar-width-51 {
  width: 51% !important;
  -webkit-transition: width 2s, height 4s;
  transition: width 1s; }

.bar-width-52 {
  width: 52% !important;
  -webkit-transition: width 2s, height 4s;
  transition: width 1s; }

.bar-width-53 {
  width: 53% !important;
  -webkit-transition: width 2s, height 4s;
  transition: width 1s; }

.bar-width-54 {
  width: 54% !important;
  -webkit-transition: width 2s, height 4s;
  transition: width 1s; }

.bar-width-55 {
  width: 55% !important;
  -webkit-transition: width 2s, height 4s;
  transition: width 1s; }

.bar-width-56 {
  width: 56% !important;
  -webkit-transition: width 2s, height 4s;
  transition: width 1s; }

.bar-width-57 {
  width: 57% !important;
  -webkit-transition: width 2s, height 4s;
  transition: width 1s; }

.bar-width-58 {
  width: 58% !important;
  -webkit-transition: width 2s, height 4s;
  transition: width 1s; }

.bar-width-59 {
  width: 59% !important;
  -webkit-transition: width 2s, height 4s;
  transition: width 1s; }

.bar-width-60 {
  width: 60% !important;
  -webkit-transition: width 2s, height 4s;
  transition: width 1s; }

.bar-width-61 {
  width: 61% !important;
  -webkit-transition: width 2s, height 4s;
  transition: width 1s; }

.bar-width-62 {
  width: 62% !important;
  -webkit-transition: width 2s, height 4s;
  transition: width 1s; }

.bar-width-63 {
  width: 63% !important;
  -webkit-transition: width 2s, height 4s;
  transition: width 1s; }

.bar-width-64 {
  width: 64% !important;
  -webkit-transition: width 2s, height 4s;
  transition: width 1s; }

.bar-width-65 {
  width: 65% !important;
  -webkit-transition: width 2s, height 4s;
  transition: width 1s; }

.bar-width-66 {
  width: 66% !important;
  -webkit-transition: width 2s, height 4s;
  transition: width 1s; }

.bar-width-67 {
  width: 67% !important;
  -webkit-transition: width 2s, height 4s;
  transition: width 1s; }

.bar-width-68 {
  width: 68% !important;
  -webkit-transition: width 2s, height 4s;
  transition: width 1s; }

.bar-width-69 {
  width: 69% !important;
  -webkit-transition: width 2s, height 4s;
  transition: width 1s; }

.bar-width-70 {
  width: 70% !important;
  -webkit-transition: width 2s, height 4s;
  transition: width 1s; }

.bar-width-71 {
  width: 71% !important;
  -webkit-transition: width 2s, height 4s;
  transition: width 1s; }

.bar-width-72 {
  width: 72% !important;
  -webkit-transition: width 2s, height 4s;
  transition: width 1s; }

.bar-width-73 {
  width: 73% !important;
  -webkit-transition: width 2s, height 4s;
  transition: width 1s; }

.bar-width-74 {
  width: 74% !important;
  -webkit-transition: width 2s, height 4s;
  transition: width 1s; }

.bar-width-75 {
  width: 75% !important;
  -webkit-transition: width 2s, height 4s;
  transition: width 1s; }

.bar-width-76 {
  width: 76% !important;
  -webkit-transition: width 2s, height 4s;
  transition: width 1s; }

.bar-width-77 {
  width: 77% !important;
  -webkit-transition: width 2s, height 4s;
  transition: width 1s; }

.bar-width-78 {
  width: 78% !important;
  -webkit-transition: width 2s, height 4s;
  transition: width 1s; }

.bar-width-79 {
  width: 79% !important;
  -webkit-transition: width 2s, height 4s;
  transition: width 1s; }

.bar-width-80 {
  width: 80% !important;
  -webkit-transition: width 2s, height 4s;
  transition: width 1s; }

.bar-width-81 {
  width: 81% !important;
  -webkit-transition: width 2s, height 4s;
  transition: width 1s; }

.bar-width-82 {
  width: 82% !important;
  -webkit-transition: width 2s, height 4s;
  transition: width 1s; }

.bar-width-83 {
  width: 83% !important;
  -webkit-transition: width 2s, height 4s;
  transition: width 1s; }

.bar-width-84 {
  width: 84% !important;
  -webkit-transition: width 2s, height 4s;
  transition: width 1s; }

.bar-width-85 {
  width: 85% !important;
  -webkit-transition: width 2s, height 4s;
  transition: width 1s; }

.bar-width-86 {
  width: 86% !important;
  -webkit-transition: width 2s, height 4s;
  transition: width 1s; }

.bar-width-87 {
  width: 87% !important;
  -webkit-transition: width 2s, height 4s;
  transition: width 1s; }

.bar-width-88 {
  width: 88% !important;
  -webkit-transition: width 2s, height 4s;
  transition: width 1s; }

.bar-width-89 {
  width: 89% !important;
  -webkit-transition: width 2s, height 4s;
  transition: width 1s; }

.bar-width-90 {
  width: 90% !important;
  -webkit-transition: width 2s, height 4s;
  transition: width 1s; }

.bar-width-91 {
  width: 91% !important;
  -webkit-transition: width 2s, height 4s;
  transition: width 1s; }

.bar-width-92 {
  width: 92% !important;
  -webkit-transition: width 2s, height 4s;
  transition: width 1s; }

.bar-width-93 {
  width: 93% !important;
  -webkit-transition: width 2s, height 4s;
  transition: width 1s; }

.bar-width-94 {
  width: 94% !important;
  -webkit-transition: width 2s, height 4s;
  transition: width 1s; }

.bar-width-95 {
  width: 95% !important;
  -webkit-transition: width 2s, height 4s;
  transition: width 1s; }

.bar-width-96 {
  width: 96% !important;
  -webkit-transition: width 2s, height 4s;
  transition: width 1s; }

.bar-width-97 {
  width: 97% !important;
  -webkit-transition: width 2s, height 4s;
  transition: width 1s; }

.bar-width-98 {
  width: 98% !important;
  -webkit-transition: width 2s, height 4s;
  transition: width 1s; }

.bar-width-99 {
  width: 99% !important;
  -webkit-transition: width 2s, height 4s;
  transition: width 1s; }

.bar-width-100 {
  width: 100% !important;
  -webkit-transition: width 2s, height 4s;
  transition: width 1s; }

.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }

.box {
  border: 0;
  border-radius: 5px;
  padding: 10px 5px;
  margin: 5px;
  cursor: pointer; }
  .box span {
    display: block;
    width: 100%;
    text-align: center; }
  .box .member-name {
    margin: 5px 0; }

.box-2 {
  width: calc(50% - 20px); }

.box-3 {
  width: calc(33% - 20px); }

.box-4 {
  width: calc(25% - 20px); }

.box-5 {
  width: calc(20% - 20px); }

.log {
  margin-top: 5px;
  font-size: 80%; }

.results {
  padding: 0; }

.results-bar {
  display: block;
  border: 1px outset;
  margin-bottom: 5px; }

.results-bar-text {
  display: block;
  width: 100%; }

.results-bar-color {
  display: block;
  height: 5px; }
