@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:400,700');
/* get-unit
 * Determines unit with 3px reference, every value is double its precessor
 * Formula: 2^(x-1) x 3
 * Examples:
 * 1: 3px
 * 2: 6px
 * 3: 12px
 * 4: 24px
 * 5: 48px
*/
/* get-color
 * Determines color and available shades
 * Each color has 9 levels and 5 is the default mid color one
*/
body {
  margin: 0;
  padding: 0;
  background: white;
  font-size: 12px;
}

* {
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
  position: relative;
}

h1 {
  font-size: 1.5em;
  margin: 12px 0;
}

h2 {
  font-size: 1.25em;
  margin: 12px 0;
}

h3 {
  font-size: 1.15em;
  margin: 6px 0;
}

p {
  font-size: 1em;
  margin: 6px 0;
}

.hidden {
  display: none;
}

.italic {
  font-style: italic;
}

.small {
  font-size: 75%;
}

.center {
  text-align: center;
}

.position-relative {
  position: relative;
}

.container {
  width: 100%;
  height: 100%;
  padding: 24px;
}
.container:first-child {
  padding-top: 0;
  margin-top: 0;
}
.container--no-padding {
  padding: 0;
}
.container--flex {
  display: flex;
}
.container--center {
  height: 100%;
  justify-content: center;
  align-items: center;
}
.container--manage {
  position: relative;
  display: flex;
  flex-direction: column;
}
.container--with-filters {
  padding: 0;
  display: flex;
  flex-wrap: nowrap;
}
.container__main-content {
  padding: 24px;
  overflow-y: scroll;
  width: 100%;
}

.btn {
  padding: 6px 12px;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  cursor: pointer;
}
.btn:hover {
  color: #959899;
  background: linear-gradient(white, #f0f1f1);
}
.btn:disabled {
  border-color: #f0f1f1;
  font-style: italic;
  cursor: default;
}
.btn:disabled:hover {
  color: #d6d7d8;
  background: white;
}

.btn-block {
  width: 100%;
  display: block;
  margin: 3px 0;
}

.btn-hollow {
  margin: 6px;
  color: white;
  background: none;
  cursor: pointer;
  min-height: 24px;
}
.btn-hollow:hover {
  background: rgba(255, 255, 255, 0.5);
}

.btn-invisible {
  background: none;
  border: 0;
  cursor: pointer;
}
.btn-invisible:hover {
  transform: scale(1.3);
}

.btn-simple {
  margin: 6px;
  color: #222222;
  border-color: #222222;
  background: none;
  cursor: pointer;
  min-height: 24px;
}
.btn-simple:hover {
  background: rgba(0, 0, 0, 0.1);
}

.btn-50 {
  width: 50%;
}

.btn-transparent {
  cursor: pointer;
  background: transparent;
  border: 0;
}
.btn-transparent:focus {
  outline: none;
}

.icon-heart-hollow:hover {
  fill: #d14949 !important;
}

.position-icon-container--inline {
  width: 16px;
  display: inline-block;
  transform: translateY(2px);
  line-height: 1px;
}

.ld-select {
  appearance: none;
  border: 1px solid #d6d7d8;
  border-radius: 4px;
  background: white;
  min-width: 100px;
  overflow: hidden;
}
.ld-select:hover {
  color: #959899;
  background: linear-gradient(white, #f0f1f1);
}
.ld-select select {
  width: 130%;
  border: none;
  box-shadow: none;
  background: transparent;
  background-image: none;
  -webkit-appearance: none;
}
.ld-select select:after {
  content: '<>';
  font: 17px monospace;
  color: #6f7273;
  transform: rotate(90deg);
  right: 11px;
  top: 18px;
  padding: 0 0 2px;
  border-bottom: 1px solid #d6d7d8;
  position: absolute;
  pointer-events: none;
}
.ld-select select:focus {
  outline: none;
}
.ld-select select {
  padding: 6px 12px;
}

.ld-select-slim {
  appearance: none;
  border: 1px solid #d6d7d8;
  border-radius: 4px;
  background: white;
  min-width: 100px;
  overflow: hidden;
}
.ld-select-slim:hover {
  color: #959899;
  background: linear-gradient(white, #f0f1f1);
}
.ld-select-slim select {
  width: 130%;
  border: none;
  box-shadow: none;
  background: transparent;
  background-image: none;
  -webkit-appearance: none;
}
.ld-select-slim select:after {
  content: '<>';
  font: 17px monospace;
  color: #6f7273;
  transform: rotate(90deg);
  right: 11px;
  top: 18px;
  padding: 0 0 2px;
  border-bottom: 1px solid #d6d7d8;
  position: absolute;
  pointer-events: none;
}
.ld-select-slim select:focus {
  outline: none;
}
.ld-select-slim select {
  padding: 3px 6px;
}

.ld-select__label {
  color: #959899;
}

.typeahead {
  display: inline-block;
  max-width: 300px;
  position: relative;
}

.typeahead-input {
  border: 1px solid #bcbebf;
  padding: 3px 12px;
  border-radius: 3px;
  width: 100%;
  max-width: 150px;
  max-height: 24px;
}

.required:after {
  color: #d14949;
  content: '*';
}

.loading-icon {
  max-width: 100%;
  height: 96px;
  display: flex;
  justify-content: center;
  padding: 12px;
}
.loading-icon--tiny {
  height: 32px;
}
.loading-icon--tiny.inline {
  height: 16px;
  padding: 0;
}
.loading-icon--small {
  height: 48px;
}
.loading-icon--small.inline {
  height: 24px;
  padding: 0;
}
.loading-icon--medium {
  height: 96px;
}
.loading-icon--medium.inline {
  height: 48px;
  padding: 0;
}
.loading-icon--large {
  height: 144px;
}
.loading-icon--large.inline {
  height: 72px;
  padding: 0;
}

.side-panel {
  height: 100%;
  width: 0;
  min-width: 0;
  background-color: #f0f1f1;
  overflow-x: hidden;
  padding-top: 48px;
  transition: 0.5s;
  color: #494b4c;
}
.side-panel--active {
  width: auto;
  min-width: 18vw;
  max-width: 18vw;
  padding-left: 12px;
  padding-right: 12px;
}
.side-panel h3 {
  text-transform: uppercase;
  margin-bottom: 24px;
}

.side-panel-vertical-buttons {
  background: #d6d7d8;
  display: flex;
  flex-direction: column;
}
.side-panel-vertical-buttons__button {
  border-bottom: 0;
  border-top: 2px solid #f0f1f1;
  border-left: 1px solid #d6d7d8;
  border-right: 1px solid #d6d7d8;
  padding: 48px 12px 48px;
  background: none;
  cursor: pointer;
}
.side-panel-vertical-buttons__button:hover {
  background: #f0f1f1;
}

.input-label {
  color: #494b4c;
  margin: 12px 0 3px;
  display: block;
}
.input-label--inline {
  display: inline-block;
  margin-right: 12px;
}

.input-text,
.input-select {
  background: white;
  border: 0;
  width: 100%;
  display: block;
  border-radius: 0;
}

.side-panel-hr {
  border: 1px solid #d6d7d8;
  margin: 24px 0;
}

.side-panel-button {
  margin-top: 12px;
  margin-left: 12px;
  float: right;
}

.side-panel-list {
  padding-left: 48px;
}

.side-panel-color-bar {
  width: 100%;
  height: 12px;
}
.side-panel-color-bar:after {
  content: ' ';
}

.pill {
  display: inline-block;
  margin-right: 6px;
  margin-bottom: 6px;
  padding: 3px 6px;
  border-radius: 3px;
}

.table {
  width: 100%;
  display: table;
  border-collapse: collapse;
}
.table thead {
  text-align: left;
}
.table thead th {
  padding: 12px;
  border-bottom: 2px solid #bcbebf;
}
.table thead .th-num {
  max-width: 60px;
}
.table td {
  padding: 12px;
  border-bottom: 1px solid #f0f1f1;
}
.table tr:last-child > td {
  border-bottom: none;
}
.table tbody tr:hover {
  background: #f0f1f1;
  cursor: pointer;
}
.table p {
  margin: 6px;
}
.table ul {
  list-style: none;
  margin-bottom: 12px;
}

.tabs-container {
  width: 100%;
}

.tabs-content {
  padding: 12px;
  border-left: #f0f1f1 1px solid;
  border-bottom: #f0f1f1 1px solid;
  border-right: #f0f1f1 1px solid;
  margin-bottom: -12px;
}
.tabs-content--empty {
  padding: 12px;
  border: #f0f1f1 1px solid;
  margin-bottom: -12px;
}

.tabs {
  width: 100%;
  list-style: none;
  display: flex;
  border-bottom: #f0f1f1 1px solid;
  padding: 0;
  margin: 0;
}
.tabs__tab {
  background: #f0f1f1;
  padding: 6px 24px;
  cursor: pointer;
  border-right: 1px solid white;
}
.tabs__tab:first-child {
  border-top-left-radius: 3px;
}
.tabs__tab:last-child {
  border-top-right-radius: 3px;
}
.tabs__tab:hover {
  background: #d6d7d8;
}
.tabs__tab--selected {
  font-weight: bold;
  color: #598ffd;
  border: 1px solid #f0f1f1;
  border-bottom: 2px solid white;
  background: white;
  transform: translateY(2px);
  z-index: 10;
}
.tabs__tab--selected:hover {
  background: inherit;
  cursor: auto;
}
.tabs__content {
  border-left: #f0f1f1 1px solid;
  border-right: #f0f1f1 1px solid;
  padding: 12px 6px;
}

.card {
  width: 18%;
  min-width: 200px;
  max-width: 250px;
  margin-right: 12px;
  margin-bottom: 12px;
  padding: 6px;
  background: white;
  border-right: 1px solid #f0f1f1;
  border-bottom: 1px solid #f0f1f1;
}
.card__profile-image {
  display: block;
  width: 100%;
  -o-object-fit: fill;
  object-fit: fill;
  height: auto;
  transition: height 0.3s ease-in-out;
}
.card__profile-image--crop {
  -o-object-fit: cover;
  object-fit: cover;
  height: 60px;
}
.card__profile-image--crop:hover {
  object-fit: fill;
  height: auto;
}
.card__color-bar {
  width: 100%;
  display: flex;
  height: 6px;
}
.card__color-bar--main {
  display: block;
  width: calc(100% - get-unit(2));
  height: 6px;
}
.card__color-bar--alt {
  display: block;
  height: 6px;
  width: 6px;
}
.card__name {
  text-transform: uppercase;
  font-weight: 700;
  margin: 0;
  bottom: -1.5em;
  color: #222222;
  font-size: 1.5em;
}
.card__flag {
  height: 13px;
  width: auto;
  transform: translateY(3px);
}
.card__positions {
  padding: 0;
  list-style: none;
  margin-top: -6px;
}
.card__position-icon {
  height: 24px;
  padding-right: 6px;
  transform: translateY(6px);
}
.card .member-id {
  background: #f0f1f1;
  margin: 0;
  padding: 6px 12px;
}
.card__edit-member-button {
  position: absolute;
  top: 0;
  right: 0;
  background: white;
  box-shadow: -1px 1px 1px #bcbebf;
}

.switch {
  position: relative;
  display: inline-block;
  top: 3px;
  width: 46px;
  height: 20px;
}

.switch input {
  display: none;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 4px;
  left: 0;
  right: 0;
  bottom: -4px;
  background-color: #d6d7d8;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 13px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #598ffd;
}

input:focus + .slider {
  box-shadow: 0 0 1px #598ffd;
}

input:checked + .slider:before {
  transform: translateX(16px);
}

.slide-text-left {
  margin-right: 6px;
}

.slide-text-right {
  margin-left: 12px;
}

.widget-h1-title {
  font-size: 12px;
  font-weight: normal;
  color: #959899;
  margin-left: 12px;
}

.active-widget {
  background: #f0f1f1;
  padding: 6px 12px;
  margin: 3px 12px 3px 0;
  border-bottom-left-radius: 6px;
  border-top-right-radius: 6px;
  box-shadow: 1px 1px 1px #d6d7d8;
  display: inline-block;
  width: 50%;
  position: relative;
}
.active-widget:last-child {
  margin-right: 0;
}
.active-widget--quarter {
  width: 25%;
}
.active-widget__group {
  display: flex;
}
.active-widget__go-to-button {
  position: absolute;
  top: 12px;
  right: 12px;
  padding: 2px 4px;
  background: none;
  border-radius: 3px;
  cursor: pointer;
}
.active-widget__go-to-button:hover {
  background: white;
}
.active-widget__video {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #222222;
  padding: 0;
}
.active-widget__video--placeholder {
  background: #d14949;
}
.active-widget.inline {
  display: block;
  width: 100%;
  max-width: none;
}
.active-widget h3 {
  font-size: 1em;
  color: #959899;
  margin: 0;
}
.active-widget h1 {
  font-size: 1.25em;
  margin: 0;
}
.active-widget__unit {
  font-size: 0.75em;
  font-weight: normal;
}
.active-widget__genre {
  font-size: 0.6em;
  font-weight: normal;
  font-style: italic;
  margin-left: 3px;
  color: #959899;
}
.active-widget__members {
  margin: 6px 0 0 0;
  padding: 0;
}
.active-widget__members .pill {
  background: white;
}

.mode-widget__label {
  text-transform: uppercase;
  border: 2px solid #d6d7d8;
  border-right-width: 0;
  padding: 6px 12px;
  background: #f0f1f1;
}
.mode-widget__label:hover {
  font-weight: bold;
}
.mode-widget__label:active {
  outline: none;
}
.mode-widget__label--active {
  background: white;
  font-weight: bold;
}
.mode-widget__label--disabled {
  color: #d6d7d8;
}
.mode-widget__label:first-child {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.mode-widget__label:last-child {
  border-right-width: 2px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.collapsible {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.collapsible__header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #d6d7d8;
  background: #f0f1f1;
  cursor: pointer;
}
.collapsible__header:focus {
  outline: none;
}
.collapsible__header.locked {
  cursor: default;
}
.collapsible__content {
  width: 100%;
  background: white;
  border: 1px solid #d6d7d8;
}
.collapsible__content.expanded {
  padding: 6px;
  flex: 1;
}
.collapsible__content.collapsed {
  flex: 0;
}

.container--requirement-wrapper {
  background: linear-gradient(white, #f0f1f1);
}

.wrapper {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.requirement-wrapper__container {
  width: 50%;
  max-width: 500px;
}
.requirement-wrapper__container p {
  text-align: center;
  margin: 24px 0;
}
.requirement-wrapper__container button {
  display: block;
  margin: 0 auto;
}

.requirement-wrapper__loading-icon {
  width: 200px;
  display: block;
  margin: 0 auto;
}

.requirement-wrapper__big-icon {
  text-align: center;
}

.footer {
  font-size: 75%;
  text-align: center;
  padding: 3px;
  box-shadow: -10px 0 10px #f0f1f1;
  z-index: 10;
  height: 24px;
  max-height: 24px;
}
.footer a {
  text-decoration: none;
  color: #598ffd;
  font-weight: bold;
}

.dropdown,
.header-admin__dropdown,
.header-user__dropdown {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 11;
  top: 32px;
  border-top: 6px solid transparent;
}
.dropdown hr,
.header-admin__dropdown hr,
.header-user__dropdown hr {
  border: 1px solid #f0f1f1;
  background-color: white;
  margin: 0;
}
.dropdown a,
.header-admin__dropdown a,
.header-user__dropdown a {
  background-color: white;
  color: #222222;
  padding: 6px;
  text-decoration: none;
  display: block;
  border-left-width: 3px;
  border-color: transparent;
  border-style: solid;
}
.dropdown a:hover,
.header-admin__dropdown a:hover,
.header-user__dropdown a:hover {
  background-color: #f0f1f1;
  border-left-color: #598ffd;
}

.header {
  width: 100%;
  display: flex;
  padding: 6px 24px;
  background-color: #222222;
  background: linear-gradient(to right, black, #022e88);
  height: 48px;
  min-height: 36px;
}

.header-nav {
  width: 70%;
  display: flex;
  align-items: center;
}
.header-nav__logo {
  height: 36px;
  margin-right: 12px;
  cursor: pointer;
}
.header-nav__links {
  color: white;
}
.header-nav__links > a,
.header-nav__links button {
  font-size: 12px;
  background: transparent;
  color: white;
  text-decoration: none;
  padding: 6px 12px;
  border-width: 2px;
  border-style: solid;
  border-color: transparent;
  border-left-color: #bcbebf;
  border-left-width: 1px;
  cursor: pointer;
}
.header-nav__links > a:visited,
.header-nav__links button:visited {
  color: white;
}
.header-nav__links > a:hover,
.header-nav__links button:hover {
  border-bottom-color: #bcbebf;
}
.header-nav__links > a.active,
.header-nav__links button.active {
  border-bottom-color: white;
}
.header-nav__links > a:first-child,
.header-nav__links button:first-child {
  border-left-color: transparent;
}

.header-admin {
  display: inline-block;
  position: relative;
  height: 100%;
}
.header-admin__nav {
  border-left-color: #bcbebf !important;
}
.header-admin__dropdown {
  border-top: 10px solid transparent;
}
.header-admin:hover .dropdown,
.header-admin:hover .header-admin__dropdown,
.header-admin:hover .header-user__dropdown {
  display: block;
}

.header-user {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}
.header-user__nav {
  font-size: 12px;
  background: transparent;
  color: white;
  border-width: 2px;
  border-style: solid;
  border-color: transparent;
  display: flex;
  align-items: center;
  border-radius: 3px;
  cursor: pointer;
}
.header-user__nav:hover {
  background: rgba(255, 255, 255, 0.25);
}
.header-user__photo {
  height: 28px;
  margin-right: 12px;
  border-radius: 50%;
}
.header-user:hover .dropdown,
.header-user:hover .header-admin__dropdown,
.header-user:hover .header-user__dropdown {
  display: block;
}
.header-user__btn {
  border-color: white;
}
.header-user__btn:hover {
  background: rgba(255, 255, 255, 0.5);
}

.loading-bar {
  background-color: white;
  width: 100%;
  height: 4px;
  position: absolute;
  display: flex;
  z-index: 0;
  top: 46px;
}

.bar-container {
  position: relative;
  width: 100%;
}
.bar-container .bar {
  height: 4px;
  position: absolute;
  z-index: 30;
}
.bar-container .bar-0 {
  background-color: #fb9cf0;
  animation: grow0 4s forwards;
  z-index: 28;
}
.bar-container .bar-1 {
  background-color: #9e8ef0;
  animation: grow1 4s ease-in infinite;
}
.bar-container .bar-2 {
  background-color: #598ffd;
  animation: grow2 4s ease-in infinite;
}
.bar-container .bar-3 {
  background-color: #34ac9e;
  animation: grow3 4s ease-in infinite;
}
.bar-container .bar-4 {
  background-color: #49d156;
  animation: grow4 4s ease-in infinite;
}
.bar-container .bar-5 {
  background-color: gold;
  animation: grow5 4s ease-in infinite;
}
.bar-container .bar-6 {
  background-color: #fea245;
  animation: grow6 4s ease-in infinite;
}
.bar-container .bar-7 {
  background-color: #d14949;
  animation: grow7 4s ease-in infinite;
}
.bar-container .bar-8 {
  background-color: #fb9cf0;
  animation: grow8 4s ease-in infinite;
}

@keyframes grow1 {
  0% {
    width: 0%;
  }
  22% {
    width: 100%;
  }
  100% {
    width: 100%;
  }
}

@keyframes grow2 {
  11% {
    width: 0%;
  }
  33% {
    width: 100%;
  }
  100% {
    width: 100%;
  }
}

@keyframes grow3 {
  22% {
    width: 0%;
  }
  44% {
    width: 100%;
  }
  100% {
    width: 100%;
  }
}

@keyframes grow4 {
  33% {
    width: 0%;
  }
  55% {
    width: 100%;
  }
  100% {
    width: 100%;
  }
}

@keyframes grow5 {
  44% {
    width: 0%;
  }
  66% {
    width: 100%;
  }
  100% {
    width: 100%;
  }
}

@keyframes grow6 {
  55% {
    width: 0%;
  }
  77% {
    width: 100%;
  }
  100% {
    width: 100%;
  }
}

@keyframes grow7 {
  66% {
    width: 0%;
  }
  88% {
    width: 100%;
  }
  100% {
    width: 100%;
  }
}

@keyframes grow8 {
  77% {
    width: 0%;
  }
  99% {
    width: 100%;
  }
  100% {
    width: 100%;
  }
}

@keyframes grow0 {
  88% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.modal-error {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.9);
  z-index: 3000;
}
.modal-error__content {
  position: relative;
  background: white;
  text-align: center;
  padding: 48px;
  border-radius: 3px;
}
.modal-error .close {
  position: absolute;
  top: 24px;
  right: 24px;
  border: none;
  outline: none;
  font-size: 150%;
  cursor: pointer;
}
.modal-error .close:hover {
  color: #d14949;
  transform: scale(1.5);
}
.modal-error__error-message {
  color: #d14949;
}

.actions-group {
  display: flex;
  flex-wrap: wrap;
  margin-top: 24px;
}

.actions-item {
  width: 30%;
  min-width: 300px;
  margin: 0 12px 12px 0;
  padding: 12px;
  flex: 1;
  border: 1px solid #f0f1f1;
  border-radius: 3px;
  text-align: center;
}
.actions-item .description-list {
  text-align: left;
}

.actions-code {
  padding: 6px 12px;
  border: 1px solid #d6d7d8;
  border-radius: 3px;
  font-weight: bold;
  font-size: 120%;
  display: inline-block;
}

.actions-code-input {
  display: block;
  margin: 12px auto;
  padding: 6px 12px;
}

.artist-section {
  margin: 12px 0;
}

.artist-section-wrapper {
  display: flex;
  width: 100%;
  margin-bottom: 12px;
}

.artist-page-profile {
  height: 140px;
  background: #bcbebf;
  width: 250px;
  margin-right: 12px;
}

.artist-page-bias {
  height: 140px;
  width: 140px;
  position: relative;
}
.artist-page-bias .bias-icon-placeholder {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: transform 0.5s, box-shadow 1s;
}
.artist-page-bias .bias-icon-placeholder--hover {
  transform: scale(1.1);
  box-shadow: 0px 2px 5px #d6d7d8;
}
.artist-page-bias .bias-icon-picture {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: transform 0.5s, box-shadow 1s;
}
.artist-page-bias .bias-icon-picture--hover {
  transform: scale(1.1);
  box-shadow: 0px 2px 5px #d6d7d8;
}
.artist-page-bias .bias-icon-picture__image {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 5px solid gold;
}
.artist-page-bias .bias-icon-picture__no-image {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-transform: uppercase;
  font-size: 120%;
}
.artist-page-bias .bias-icon-picture__loading-icon {
  transform: scale(0.5);
}
.artist-page-bias .bias-hover {
  position: absolute;
  top: 10%;
  right: 90%;
  width: 250px;
  border-radius: 3px;
  padding: 12px;
  min-height: 30px;
  background: white;
  box-shadow: 0 2px 5px #bcbebf;
  z-index: 15;
}
.artist-page-bias .bias-hover-buttons {
  display: flex;
  flex-wrap: wrap;
}
.artist-page-bias .bias-hover-button {
  cursor: pointer;
  padding: 3px 6px;
  margin: 3px 3px 0 0;
  border-radius: 3px;
  min-width: 70px;
  border: 0;
  flex-grow: 1;
}
.artist-page-bias .bias-hover-button:hover {
  color: white;
  transform: scale(1.2);
  box-shadow: 0px 1px 2px #222222;
}

.artist-page-info {
  flex-grow: 2;
}
.artist-page-info__name {
  font-size: 48px;
  text-transform: uppercase;
  margin-bottom: 0;
}
.artist-page-info__name--fav-icon {
  transform: translateY(-12px);
}
.artist-page-info__genre {
  margin: 0;
  font-style: italic;
}
.artist-page-info__members-list {
  width: 100%;
  display: flex;
  list-style: none;
  padding-left: 0;
  flex-wrap: wrap;
}
.artist-page-info__member-pill {
  background: #d6d7d8;
  padding: 3px 6px;
  border-radius: 3px;
  margin-right: 6px;
  margin-bottom: 3px;
}

.no-units-container {
  display: flex;
  min-height: 200px;
  border: 1px solid #f0f1f1;
  justify-content: center;
  align-items: center;
  color: #bcbebf;
}

.unit-section__top {
  display: flex;
}

.unit-section__ruler {
  border: 0.5px solid #f0f1f1;
}

.unit-section__info {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.unit-section__summary {
  width: 100%;
}

.unit-section__bias {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 6px;
  min-width: 110px;
}

.unit-section__bias-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  border-radius: 6px;
  min-width: 110px;
}

.unit-section__bias-placeholder {
  display: block;
  width: 105px;
  height: 105px;
  background: #f0f1f1;
  margin-bottom: 12px;
  border-radius: 6px;
}

.unit-section__bias-picture {
  display: block;
  width: 105px;
  height: 105px;
  background: #f0f1f1;
  margin-bottom: 12px;
  border-radius: 6px;
}

.unit-section__bias-no-picture {
  width: 105px;
  height: 105px;
  background: gold;
  margin-bottom: 12px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.unit-section__bias-no-picture span {
  text-transform: uppercase;
  font-weight: 700;
  margin: 0;
  bottom: -1.5em;
  color: #222222;
  font-size: 1.5em;
}

.unit-section__actions {
  width: 100%;
}
.unit-section__actions .btn {
  display: inline-block;
  margin-right: 6px;
  min-width: 120px;
  min-width: 120px;
  margin-bottom: 6px;
}

.unit-section__members {
  display: flex;
  flex-wrap: wrap;
}

.artist-distributed-songs-row {
  width: 100%;
}
.artist-distributed-songs-row__title,
.artist-distributed-songs-row__original-artist {
  width: 25%;
}
.artist-distributed-songs-row__distribution-preview {
  width: 50%;
}

.distribution-rates-preview__container {
  width: 100%;
  display: flex;
}

.distribution-rates-preview__bar {
  font-size: 80%;
  padding: 2px;
  overflow-x: hidden;
}

.artists__section {
  width: 100%;
  overflow: auto;
  margin: 6px 0 24px 0;
}

.artists__search-bar {
  padding: 6px;
  margin-bottom: 12px;
  border: 1px solid #f0f1f1;
  width: 30%;
  min-width: 300px;
}

.artists-table__favorite-col {
  width: 60px;
}

.artists-cell-favorite:hover {
  background: rgba(209, 73, 73, 0.2);
}

.distribute__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.distribute__content-container {
  margin-top: 12px;
}

.distribute__save-section {
  margin-top: 12px;
  border: 1px solid #f0f1f1;
  padding: 6px;
}

.distribute__section--connect {
  display: flex;
}

.distribute__section-left {
  width: 50%;
  margin-right: 3px;
  border: 1px solid #f0f1f1;
  padding: 6px;
  flex: 1;
}

.distribute__section-right {
  width: 50%;
  margin-left: 3px;
  flex: 1;
  display: flex;
}

.distribute__content--lyrics {
  width: 100%;
  max-height: 500px;
  height: 100%;
  overflow: auto;
  padding: 6px;
  border: 1px solid #f0f1f1;
}

.distribute__members {
  background: #f0f1f1;
  padding: 3px;
  padding-bottom: 0;
  display: flex;
  flex-wrap: wrap;
}

.distribute__member-pill {
  cursor: pointer;
  border: 2px solid #f0f1f1;
  white-space: nowrap;
  width: 25%;
  box-shadow: 1px 1px 5px #d6d7d8;
  overflow: hidden;
}
.distribute__member-pill:hover {
  border: 2px solid #222222;
}
.distribute__member-pill.active {
  color: white;
  border: 2px dashed white !important;
}

.distribute__pill-group {
  width: 100%;
  display: flex;
}
.distribute__rates--half .distribute__pill-group {
  width: 49%;
}
.distribute__rates--half .distribute__pill-group:nth-child(even) {
  margin-left: 2%;
}

.distribute__rates {
  background: #f0f1f1;
  padding: 3px;
  padding-bottom: 0;
  display: flex;
  list-style: none;
  width: 100%;
  flex-direction: column;
}
.distribute__rates--half {
  flex-direction: row;
  flex-wrap: wrap;
}
.distribute__rates__percentage {
  margin-right: 0;
}
.distribute__rates__percentage-pill {
  height: 30px;
}
.distribute__rates__percentage-bar-group {
  position: relative;
  width: 75%;
  height: 30px;
  background: white;
  margin-right: 0;
}
.distribute__rates__percentage-value {
  position: absolute;
  top: 7px;
  left: 7px;
  z-index: 10;
}
.distribute__rates__percentage-bar {
  height: 30px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
  border-radius: 3px;
}

.distribute__distribution-category select {
  display: block;
}

.distribute-view__video {
  margin-top: 12px;
  background: #222222;
  display: flex;
  justify-content: center;
  min-height: 500px;
  position: relative;
}

.distribute-view__video-float {
  color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
  background: black;
  background: linear-gradient(
    0deg,
    black 0%,
    rgba(0, 0, 0, 0.8) 90%,
    rgba(0, 0, 0, 0) 100%
  );
}
.distribute-view__video-float__inner {
  margin: 0 auto;
  height: 100%;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 24px;
}
.distribute-view__video-float__inner__member {
  width: 100%;
  padding: 6px;
}

.distribute-view__controls {
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  border-color: #d6d7d8;
  display: flex;
}
.distribute-view__controls__button {
  flex: 1;
  border: 0;
  padding: 12px 24px;
  cursor: pointer;
  background: white;
}
.distribute-view__controls__button:hover {
  background: #f0f1f1;
}

.distribute-progress-bar {
  width: 100%;
  padding: 6px;
  display: flex;
  align-items: center;
}
.distribute-progress-bar__name {
  display: inline-block;
  font-weight: bold;
  text-transform: uppercase;
  width: 80px;
  text-align: right;
  margin-right: 24px;
}
.distribute-progress-bar__progress {
  display: inline-block;
  width: 70%;
  background: #959899;
  border-radius: 12px;
  height: 10px;
  position: relative;
}
.distribute-progress-bar__bar {
  height: 10px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 12px;
}
.distribute-progress-bar__active-icon--on {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 50%;
  margin: 0 12px;
}
.distribute-progress-bar__active-icon--off {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: #959899;
  border-radius: 50%;
  margin: 0 12px;
}
.distribute-progress-bar__duration {
  color: white;
}

.distribution__lyrics__line {
  margin: 3px 0;
}
.distribution__lyrics__line--icon {
  margin-right: 3px;
  cursor: pointer;
}
.distribution__lyrics__line--part-active {
  background: #fea245;
}

.home__video {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  z-index: -99999;
}
.home__video iframe {
  width: 100%;
  height: 100%;
}

.home__content {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
}

.home__logo {
  margin: 0 auto;
  min-width: 400px;
  max-width: 550px;
}

.home__buttons {
  display: flex;
  justify-content: center;
}
.home__buttons .btn-home {
  width: 120px;
  padding: 1px 6px;
  border: 1px solid;
  border-radius: 3px;
  margin: 6px;
  color: white;
  background: none;
  cursor: pointer;
  min-height: 24px;
}
.home__buttons .btn-home:hover {
  background: rgba(255, 255, 255, 0.5);
}

.idols__filter-title {
  display: block;
  color: #959899;
  text-transform: uppercase;
  margin-bottom: 12px;
}

.idols__filter-name {
  margin-right: 6px;
}

.idols__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.idols__filter-label {
  margin-left: 3px;
}

.container--lyrics {
  display: flex;
  flex-direction: column;
}

.lyrics__group {
  width: 100%;
  height: 100%;
  display: flex;
  overflow-y: auto;
}

.lyrics__members-list {
  width: 100%;
  background: #f0f1f1;
  padding: 6px;
  margin-bottom: 12px;
}

.lyrics__members-list--empty {
  background: #f0f1f1;
  padding: 6px;
  margin-bottom: 12px;
}

.lyrics__input {
  width: 50%;
  border: 1px solid #f0f1f1;
  font-size: 11px;
  height: 100%;
  width: 50%;
  resize: none;
  padding-bottom: 14px;
}

.lyrics__output {
  width: 50%;
  border: 1px solid #f0f1f1;
  font-size: 11px;
  height: 100%;
  padding-left: 6px;
  overflow-y: auto;
}

.lyrics__verse {
  margin-top: 2px;
  margin-bottom: 14.5px;
  padding: 0;
}

.lyrics__part {
  display: inline;
}

.lyrics__bit-normal {
  padding: 0 2px;
}

.lyrics__bit-sub {
  padding: 0 2px;
}

.lyrics__bit-grey {
  padding: 0 2px;
  font-style: italic;
}

.lyrics__bit-all {
  padding: 0 2px;
  font-style: italic;
}

.lyrics__bit-choir {
  padding: 0 2px;
  font-style: italic;
}

.manage-section {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
}
.manage-section--manage-success {
  text-align: center;
}

.manage-form {
  display: flex;
  flex-direction: row;
  height: 96%;
}
.manage-form__artist {
  background: #d6d7d8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 24px;
  width: 20%;
  border-right: 1px solid #f0f1f1;
  border-radius: 6px 0 0 6px;
}
.manage-form__artist-edit {
  background: white;
  border: 2px solid #d6d7d8;
  display: flex;
  flex-direction: column;
  padding: 24px;
  justify-content: space-between;
  width: 20%;
  border-right: 1px solid #f0f1f1;
  border-radius: 6px 0 0 6px;
}
.manage-form__unit {
  background: #d6d7d8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 24px;
  width: 20%;
  border-right: 1px solid #f0f1f1;
}
.manage-form__unit-edit {
  background: white;
  border: 2px solid #d6d7d8;
  display: flex;
  flex-direction: column;
  padding: 24px;
  justify-content: space-between;
  width: 20%;
  border-right: 1px solid #f0f1f1;
  align-items: flex-start;
}
.manage-form__members {
  background: #d6d7d8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 24px;
  width: 60%;
  border-radius: 0 6px 6px 0;
}
.manage-form__members-edit {
  background: white;
  border: 2px solid #d6d7d8;
  display: flex;
  flex-direction: column;
  padding: 24px;
  justify-content: space-between;
  width: 60%;
  border-radius: 0 6px 6px 0;
  align-items: flex-start;
  flex-direction: row;
  overflow-y: auto;
}
.manage-form__button-locked {
  width: 100px;
  height: 100px;
  background: none;
  border: 0;
  border-radius: 50%;
}
.manage-form__button-lock-image {
  border-radius: 12px;
}
.manage-form__button-add {
  width: 100px;
  height: 100px;
  background: none;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
}
.manage-form__button-add:hover {
  transform: scale(1.05);
}
.manage-form__button-add-image {
  width: 100%;
  border-radius: 50%;
}
.manage-form__button-typeahead {
  padding: 3px 12px;
  border: 1px solid #bcbebf;
  border-radius: 3px;
  background: #f0f1f1;
}
.manage-form__valid {
  border: 2px solid #49d156;
  background: white;
  padding: 6px;
  border-radius: 6px;
  color: #49d156;
}
.manage-form__inline {
  display: flex;
}
.manage-form__label {
  display: block;
  margin-bottom: 12px;
}
.manage-form__label--70 {
  width: 70%;
}
.manage-form__label--50 {
  width: 50%;
  margin-left: 3px;
}
.manage-form__label--40 {
  width: 40%;
  margin-left: 3px;
}
.manage-form__label--30 {
  width: 30%;
  margin-left: 3px;
}
.manage-form__input {
  width: 100%;
  border: 1px solid #f0f1f1;
}
.manage-form__input--invalid {
  border: 1px solid #d14949;
}
.manage-form__navigation {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
.manage-form__navigation > * {
  margin-right: 12px;
}
.manage-form__navigation > *:last-child {
  margin-right: 0;
}
.manage-form__form-group-member {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.manage-form__form-member {
  width: 32%;
  margin-bottom: 12px;
}

.manage-form-nav {
  text-align: right;
  margin: 12px 0;
}
.manage-form-nav .btn {
  margin-left: 6px;
}

.manage-member {
  padding: 6px;
  border-radius: 3px;
  background: #f0f1f1;
  max-width: 170px;
}
.manage-member__title {
  display: block;
  font-weight: bold;
  margin-bottom: 6px;
  background: #bcbebf;
  padding: 0 3px;
  border-radius: 3px;
}

.manage-member-new {
  padding: 6px;
  border-radius: 3px;
  background: #d6d7d8;
  max-width: 170px;
  text-align: center;
}
.manage-member-new__title {
  display: block;
  font-weight: bold;
  margin-bottom: 6px;
  background: #bcbebf;
  padding: 0 3px;
  border-radius: 3px;
}

.position-buttons {
  margin-top: -12px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 100px;
}

.position-checkbox {
  appearance: none;
  border: 2px solid #222222;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  margin: 0;
  margin-right: 3px;
  cursor: pointer;
}
.position-checkbox:checked {
  border: 2px solid #fea245;
}

.position-checkbox-main-vocalist {
  background-image: url(./../images/icon-main-vocalist.svg);
}

.position-checkbox-main-rapper {
  background-image: url(./../images/icon-main-rapper.svg);
}

.position-checkbox-main-dancer {
  background-image: url(./../images/icon-main-dancer.svg);
}

.position-checkbox-lead-vocalist {
  background-image: url(./../images/icon-lead-vocalist.svg);
}

.position-checkbox-lead-rapper {
  background-image: url(./../images/icon-lead-rapper.svg);
}

.position-checkbox-lead-dancer {
  background-image: url(./../images/icon-lead-dancer.svg);
}

.position-checkbox-vocalist {
  background-image: url(./../images/icon-vocalist.svg);
}

.position-checkbox-rapper {
  background-image: url(./../images/icon-rapper.svg);
}

.position-checkbox-dancer {
  background-image: url(./../images/icon-dancer.svg);
}

.position-checkbox-leader {
  background-image: url(./../images/icon-leader.svg);
}

.position-checkbox-visual {
  background-image: url(./../images/icon-visual.svg);
}

.position-checkbox-center {
  background-image: url(./../images/icon-center.svg);
}

.color-reference-bar {
  width: 100%;
  padding: 0;
  list-style: none;
  display: flex;
  border-radius: 6px;
  overflow: hidden;
  min-height: 40px;
}

.color-reference-item {
  width: 3.33334%;
  text-align: center;
  padding: 3px;
  box-sizing: border-box;
}
.color-reference-item--in-use {
  border: 2px solid #222222;
  color: white;
}

.btn-remove-user {
  background: none;
  border: none;
  float: right;
  font-weight: bolder;
  cursor: pointer;
}
.btn-remove-user:hover {
  transform: scale(1.5);
}
.btn-remove-user:focus {
  outline: none;
}

.btn-resync-db {
  position: absolute;
  right: 24px;
  top: 24px;
}

.previously-distributed-row {
  background: #ecffee;
}

.songs-filters-group {
  background: #f0f1f1;
  display: flex;
  border: 1px solid #f0f1f1;
  padding: 6px;
}

.songs-filter-group {
  display: flex;
  flex-direction: column;
  margin-right: 48px;
}

.sync__container {
  max-height: 100%;
  display: flex;
}

.sync__group {
  width: 50%;
}
.sync__group--left {
  margin-right: 3px;
}
.sync__group--right {
  margin-left: 3px;
}

.sync__video {
  width: 100%;
  background: #f0f1f1;
  min-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sync__step--1 {
  text-align: center;
  margin: 0 auto;
}
.sync__step--1 select {
  margin-bottom: 12px;
}

.sync__step--2__container {
  display: flex;
  flex-wrap: wrap;
}

.sync__step--2__group {
  width: calc(50% - 12px);
  margin-right: 12px;
}

.sync__form__label {
  display: block;
  margin-bottom: 6px;
}

.sync__form__input-text {
  display: block;
  margin-bottom: 6px;
  width: 100%;
  max-width: none;
}

.sync__form__typeahead {
  display: block;
  margin-bottom: 6px;
  width: 100%;
  max-width: none;
}
.sync__form__typeahead .typeahead-input {
  max-width: none;
}

.sync__form__input-number {
  margin-left: 6px;
  min-width: 30px;
}

.sync__lyrics__controls {
  display: flex;
}
.sync__lyrics__controls .btn:first-child {
  margin-right: 3px;
}

.sync__lyrics__textarea {
  margin-top: 6px;
  width: 100%;
  height: 400px;
  resize: none;
}

.sync__distribution__buttons {
  width: 100%;
  background: #f0f1f1;
  display: flex;
  border-radius: 3px;
  margin-bottom: 12px;
}
.sync__distribution__buttons .box {
  width: 25%;
  padding: 12px 6px;
  border-radius: 3px;
  border: none;
  margin: 3px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.sync__distribution__buttons .box:hover {
  background: white;
}
.sync__distribution__buttons .box .key {
  font-size: 120%;
  border: 1px solid white;
  padding: 0 6px;
  border-radius: 3px;
  background: rgba(255, 255, 255, 0.25);
  margin-bottom: 6px;
}
.sync__distribution__buttons .box .member-name {
  text-transform: uppercase;
}

.sync__log-trash {
  float: right;
}

.sync__log {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background: #f0f1f1;
  border-radius: 3px;
  margin-bottom: 12px;
  max-height: 400px;
  overflow: auto;
}
.sync__log__pill {
  padding: 3px 6px;
  border-radius: 6px;
  margin: 3px;
  border: 2px solid #f0f1f1;
}
.sync__log__pill--active {
  border: 2px solid #222222;
  color: white;
}
.sync__log__stats span {
  display: inline-block;
  padding-right: 12px;
}

.sync__sequence--true {
  background: #fea245;
}

.sync__distribution__lyrics {
  border: 1px solid #f0f1f1;
  padding: 3px;
  margin: 3px;
  max-height: 500px;
  overflow: auto;
}

.sync__distribution__line {
  margin: 3px 0;
}
.sync__distribution__line--icon {
  margin-right: 3px;
  cursor: pointer;
}
.sync__distribution__line--part-active {
  background: #fea245;
}

.temp-box {
  width: 100px;
  height: 100px;
  background: grey;
}

.temp-1 {
  background-color: #eeefef;
}

.temp-2 {
  background-color: #d3d6d7;
}

.temp-3 {
  background-color: #b9bdbe;
}

.temp-4 {
  background-color: #919899;
}

.temp-5 {
  background-color: #6b7273;
}

.temp-6 {
  background-color: #464b4b;
}

.temp-7 {
  background-color: #212324;
}

.temp-8 {
  background-color: #090909;
}

.temp-9 {
  background-color: black;
}

.color-palette {
  width: 100%;
  display: flex;
  list-style: none;
  padding-left: 0;
  flex-wrap: wrap;
}

.palette {
  width: 150px;
  height: 150px;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column-reverse;
}

.icon-list {
  width: 100%;
  display: flex;
  list-style: none;
  padding-left: 0;
  flex-wrap: wrap;
}
.icon-list__item {
  width: 150px;
  height: 150px;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #f0f1f1;
  border-radius: 3px;
}
.icon-list__name {
  margin-bottom: 12px;
}

.component-list {
  width: 100%;
  display: flex;
  list-style: none;
  padding-left: 0;
  flex-wrap: wrap;
}
.component-list__item {
  width: 100%;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  border: 1px solid #f0f1f1;
  border-radius: 3px;
}
.component-list__name {
  margin-bottom: 12px;
}
.component-list__example {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 12px;
}
.component-list__example > * {
  margin-right: 12px;
}
.component-list__description {
  width: 100%;
  padding: 6px;
  margin-bottom: 12px;
  background: #f0f1f1;
  border-radius: 3px;
}

.background-color-1 {
  background-color: #d01f3c !important;
}

.foreground-color-1 {
  color: #d01f3c !important;
}

.border-color-1 {
  border-color: #d01f3c !important;
}

.background-color-2 {
  background-color: #ce311b !important;
}

.foreground-color-2 {
  color: #ce311b !important;
}

.border-color-2 {
  border-color: #ce311b !important;
}

.background-color-3 {
  background-color: #ff6347 !important;
}

.foreground-color-3 {
  color: #ff6347 !important;
}

.border-color-3 {
  border-color: #ff6347 !important;
}

.background-color-4 {
  background-color: #ffa07a !important;
}

.foreground-color-4 {
  color: #ffa07a !important;
}

.border-color-4 {
  border-color: #ffa07a !important;
}

.background-color-5 {
  background-color: #9a5827 !important;
}

.foreground-color-5 {
  color: #9a5827 !important;
}

.border-color-5 {
  border-color: #9a5827 !important;
}

.background-color-6 {
  background-color: #ff8e2a !important;
}

.foreground-color-6 {
  color: #ff8e2a !important;
}

.border-color-6 {
  border-color: #ff8e2a !important;
}

.background-color-7 {
  background-color: #e2b631 !important;
}

.foreground-color-7 {
  color: #e2b631 !important;
}

.border-color-7 {
  border-color: #e2b631 !important;
}

.background-color-8 {
  background-color: #ffe400 !important;
}

.foreground-color-8 {
  color: #ffe400 !important;
}

.border-color-8 {
  border-color: #ffe400 !important;
}

.background-color-9 {
  background-color: #808000 !important;
}

.foreground-color-9 {
  color: #808000 !important;
}

.border-color-9 {
  border-color: #808000 !important;
}

.background-color-10 {
  background-color: #ffff52 !important;
}

.foreground-color-10 {
  color: #ffff52 !important;
}

.border-color-10 {
  border-color: #ffff52 !important;
}

.background-color-11 {
  background-color: #ccff26 !important;
}

.foreground-color-11 {
  color: #ccff26 !important;
}

.border-color-11 {
  border-color: #ccff26 !important;
}

.background-color-12 {
  background-color: #7fb817 !important;
}

.foreground-color-12 {
  color: #7fb817 !important;
}

.border-color-12 {
  border-color: #7fb817 !important;
}

.background-color-13 {
  background-color: #5d8c56 !important;
}

.foreground-color-13 {
  color: #5d8c56 !important;
}

.border-color-13 {
  border-color: #5d8c56 !important;
}

.background-color-14 {
  background-color: #147d14 !important;
}

.foreground-color-14 {
  color: #147d14 !important;
}

.border-color-14 {
  border-color: #147d14 !important;
}

.background-color-15 {
  background-color: #59ff84 !important;
}

.foreground-color-15 {
  color: #59ff84 !important;
}

.border-color-15 {
  border-color: #59ff84 !important;
}

.background-color-16 {
  background-color: #15aa98 !important;
}

.foreground-color-16 {
  color: #15aa98 !important;
}

.border-color-16 {
  border-color: #15aa98 !important;
}

.background-color-17 {
  background-color: #83eeea !important;
}

.foreground-color-17 {
  color: #83eeea !important;
}

.border-color-17 {
  border-color: #83eeea !important;
}

.background-color-18 {
  background-color: #39badd !important;
}

.foreground-color-18 {
  color: #39badd !important;
}

.border-color-18 {
  border-color: #39badd !important;
}

.background-color-19 {
  background-color: #285986 !important;
}

.foreground-color-19 {
  color: #285986 !important;
}

.border-color-19 {
  border-color: #285986 !important;
}

.background-color-20 {
  background-color: #406fff !important;
}

.foreground-color-20 {
  color: #406fff !important;
}

.border-color-20 {
  border-color: #406fff !important;
}

.background-color-21 {
  background-color: #7391ff !important;
}

.foreground-color-21 {
  color: #7391ff !important;
}

.border-color-21 {
  border-color: #7391ff !important;
}

.background-color-22 {
  background-color: #7b68ee !important;
}

.foreground-color-22 {
  color: #7b68ee !important;
}

.border-color-22 {
  border-color: #7b68ee !important;
}

.background-color-23 {
  background-color: #a177ef !important;
}

.foreground-color-23 {
  color: #a177ef !important;
}

.border-color-23 {
  border-color: #a177ef !important;
}

.background-color-24 {
  background-color: #f7d0ff !important;
}

.foreground-color-24 {
  color: #f7d0ff !important;
}

.border-color-24 {
  border-color: #f7d0ff !important;
}

.background-color-25 {
  background-color: #9e35ae !important;
}

.foreground-color-25 {
  color: #9e35ae !important;
}

.border-color-25 {
  border-color: #9e35ae !important;
}

.background-color-26 {
  background-color: #fc6be9 !important;
}

.foreground-color-26 {
  color: #fc6be9 !important;
}

.border-color-26 {
  border-color: #fc6be9 !important;
}

.background-color-27 {
  background-color: #9c1465 !important;
}

.foreground-color-27 {
  color: #9c1465 !important;
}

.border-color-27 {
  border-color: #9c1465 !important;
}

.background-color-28 {
  background-color: #e62e8a !important;
}

.foreground-color-28 {
  color: #e62e8a !important;
}

.border-color-28 {
  border-color: #e62e8a !important;
}

.background-color-29 {
  background-color: #983c4b !important;
}

.foreground-color-29 {
  color: #983c4b !important;
}

.border-color-29 {
  border-color: #983c4b !important;
}

.background-color-30 {
  background-color: #ffabb9 !important;
}

.foreground-color-30 {
  color: #ffabb9 !important;
}

.border-color-30 {
  border-color: #ffabb9 !important;
}

.background-color-0 {
  background-color: #d6d7d8 !important;
}

.foreground-color-0 {
  color: #d6d7d8 !important;
}

.border-color-0 {
  border-color: #d6d7d8 !important;
}

.background-color-31 {
  background-color: #e3e3e8;
  color: #bcbebf !important;
}

.foreground-color-31 {
  color: #e3e3e8 !important;
  background-color: #bcbebf;
}

.border-color-31 {
  border-color: #e3e3e8 !important;
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}
.animated.bounceIn {
  animation-duration: 0.7s;
}
.animated.bounceOut {
  animation-duration: 0.5s;
}
.animated.bounceIn {
  animation-name: bounceIn;
}
.animated.bounceOut {
  animation-name: bounceOut;
}
.animated.fadeIn {
  animation-name: fadeIn;
  animation-duration: 0.7s;
}
.animated.fadeOut {
  animation-name: fadeOut;
  animation-duration: 0.3s;
}
.animated.bounceInDown {
  animation-name: bounceInDown;
}
.animated.bounceOutUp {
  animation-name: bounceOutUp;
}

@keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    transform: perspective(1px) scale3d(0.3, 0.3, 0.3);
  }
  20% {
    transform: perspective(1px) scale3d(1.1, 1.1, 1.1);
  }
  40% {
    transform: perspective(1px) scale3d(0.9, 0.9, 0.9);
  }
  60% {
    opacity: 1;
    transform: perspective(1px) scale3d(1.03, 1.03, 1.03);
  }
  80% {
    transform: perspective(1px) scale3d(0.97, 0.97, 0.97);
  }
  to {
    opacity: 1;
    transform: perspective(1px) scale3d(1, 1, 1);
  }
}

@keyframes bounceOut {
  20% {
    transform: scale3d(0.9, 0.9, 0.9);
  }
  50%,
  55% {
    opacity: 1;
    transform: scale3d(1.1, 1.1, 1.1);
  }
  to {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes bounceInDown {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    transform: translate3d(0, -3000px, 0);
  }
  60% {
    opacity: 1;
    transform: translate3d(0, 25px, 0);
  }
  75% {
    transform: translate3d(0, -10px, 0);
  }
  90% {
    transform: translate3d(0, 5px, 0);
  }
  to {
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes bounceOutUp {
  20% {
    transform: translate3d(0, -10px, 0);
  }
  40%,
  45% {
    opacity: 1;
    transform: translate3d(0, 20px, 0);
  }
  to {
    opacity: 0;
    transform: translate3d(0, -2000px, 0);
  }
}

.rrt-confirm-holder {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999999;
}
.rrt-confirm-holder .shadow {
  width: 100%;
  height: 100%;
  background-color: rgba(50, 58, 68, 0.8);
}
.rrt-confirm-holder .rrt-confirm {
  width: 320px;
  background-color: white;
  position: absolute;
  z-index: 9;
  top: 20%;
  left: 50%;
  margin-left: -160px;
  box-shadow: 3px 3px 20px #333;
  border-radius: 4px;
  overflow: hidden;
}
.rrt-confirm-holder .rrt-confirm .rrt-message {
  width: 100%;
  padding: 5%;
  min-height: 50px;
  font-size: 1em;
  background-color: white;
  text-align: center;
  font-family: 'open-sanscondensed-light', sans-serif;
  clear: both;
}
.rrt-confirm-holder .rrt-confirm .rrt-buttons-holder {
  display: flex;
}
.rrt-confirm-holder .rrt-confirm .rrt-buttons-holder .rrt-button {
  flex-grow: 1;
  height: 50px;
  text-transform: capitalize;
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  float: left;
  border-top: 1px solid #f0f0f0;
  font-size: 14px;
  overflow: hidden;
  cursor: pointer;
}
.rrt-confirm-holder .rrt-confirm .rrt-buttons-holder .rrt-button:hover {
  background-color: #f5f5f5;
}
.rrt-confirm-holder
  .rrt-confirm
  .rrt-buttons-holder
  .rrt-button.rrt-ok-btn:active {
  background-color: #60bb71;
  color: white;
}
.rrt-confirm-holder
  .rrt-confirm
  .rrt-buttons-holder
  .rrt-button.rrt-cancel-btn:active {
  background-color: #db6a64;
  color: white;
}
.rrt-confirm-holder .rrt-confirm .rrt-buttons-holder .rrt-button:focus {
  outline: none;
}

body.toastr-confirm-active {
  overflow: hidden;
}

.redux-toastr *,
.redux-toastr *:before,
.redux-toastr *:after {
  box-sizing: border-box;
}

.redux-toastr .top-left,
.redux-toastr .top-right,
.redux-toastr .top-center,
.redux-toastr .bottom-left,
.redux-toastr .bottom-right,
.redux-toastr .bottom-center {
  width: 350px;
  position: fixed;
  z-index: 99999999;
  padding: 0 10px;
}

.redux-toastr .top-left,
.redux-toastr .top-right,
.redux-toastr .top-center {
  top: 0;
}

.redux-toastr .top-right,
.redux-toastr .bottom-right {
  right: 0;
}

.redux-toastr .bottom-left,
.redux-toastr .bottom-right,
.redux-toastr .bottom-center {
  bottom: 0;
}

.redux-toastr .top-left,
.redux-toastr .bottom-left {
  left: 0;
}

.redux-toastr .top-center,
.redux-toastr .bottom-center {
  left: 50%;
  margin-left: -175px;
}

@media (max-width: 320px) {
  .redux-toastr .top-left,
  .redux-toastr .top-right,
  .redux-toastr .top-center,
  .redux-toastr .bottom-left,
  .redux-toastr .bottom-right,
  .redux-toastr .bottom-center {
    width: 320px;
  }
  .redux-toastr .top-center,
  .redux-toastr .bottom-center {
    margin-left: -160px;
  }
}

.redux-toastr .toastr {
  background-color: #fcfcfc;
  width: 100%;
  min-height: 70px;
  overflow: hidden;
  margin: 10px 0;
  border-radius: 4px;
  position: relative;
  z-index: 2;
  color: #333;
  opacity: 0.94;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
}
.redux-toastr .toastr:hover:not(.rrt-message) {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
  opacity: 1;
}
.redux-toastr .toastr .toastr-status {
  width: 100%;
  height: 5px;
}
.redux-toastr .toastr .toastr-status.success {
  background-color: #60bb71;
}
.redux-toastr .toastr .toastr-status.warning {
  background-color: #f7a336;
}
.redux-toastr .toastr .toastr-status.info {
  background-color: #58abc3;
}
.redux-toastr .toastr .toastr-status.error {
  background-color: #db6a64;
}
.redux-toastr .toastr .rrt-left-container,
.redux-toastr .toastr .rrt-right-container {
  float: left;
  text-align: center;
  overflow: hidden;
}
.redux-toastr .toastr .rrt-left-container {
  width: 80px;
  top: 0;
  left: 0;
  position: absolute;
  bottom: 0;
}
.redux-toastr .toastr .rrt-left-container .rrt-holder {
  width: 70px;
  height: 70px;
  position: absolute;
  top: 50%;
  margin-top: -35px;
  left: 5px;
  line-height: 60px;
}
.redux-toastr .toastr .rrt-left-container .toastr-icon {
  fill: white;
  vertical-align: middle;
  margin-top: 5px;
}
.redux-toastr .toastr .rrt-middle-container {
  width: 65%;
  margin-left: 80px;
  position: relative;
  float: left;
  font-family: Arial, Helvetica, sans-serif, sans-serif;
  font-size: 1em;
  text-align: left;
  padding: 10px 5px;
}
.redux-toastr .toastr .rrt-middle-container .rrt-title {
  font-size: 1.1em;
  font-weight: bold;
  margin-bottom: 5px;
}
.redux-toastr .toastr .rrt-right-container {
  width: 10%;
}
.redux-toastr .toastr .close-toastr {
  width: 10%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  font-size: 22px;
  border: none;
  outline: none;
  opacity: 0.5;
  cursor: pointer;
  font-family: 'Helvetica Neue', Helvetica, Arial sans-serif;
}
.redux-toastr .toastr .close-toastr:hover {
  opacity: 1;
}
.redux-toastr .toastr .close-toastr:focus {
  outline: none;
}
.redux-toastr .toastr.rrt-info,
.redux-toastr .toastr.rrt-success,
.redux-toastr .toastr.rrt-warning,
.redux-toastr .toastr.rrt-error {
  color: white;
}
.redux-toastr .toastr.rrt-info {
  background-color: #58abc3;
}
.redux-toastr .toastr.rrt-info .rrt-progressbar {
  background-color: #378298;
}
.redux-toastr .toastr.rrt-success {
  background-color: #60bb71;
}
.redux-toastr .toastr.rrt-success .rrt-progressbar {
  background-color: #3e914d;
}
.redux-toastr .toastr.rrt-warning {
  background-color: #f7a336;
}
.redux-toastr .toastr.rrt-warning .rrt-progressbar {
  background-color: #d87e09;
}
.redux-toastr .toastr.rrt-error {
  background-color: #db6a64;
}
.redux-toastr .toastr.rrt-error .rrt-progressbar {
  background-color: #c5352e;
}
.redux-toastr .toastr.rrt-light .rrt-progressbar {
  background-color: #ccc;
}
.redux-toastr .toastr.rrt-light .toastr-icon {
  fill: #333 !important;
}
.redux-toastr .toastr.rrt-message {
  opacity: 1;
  border: 1px solid #dbdbdb;
}
.redux-toastr .toastr.rrt-message .rrt-title {
  width: 90%;
  height: 50px;
  text-align: center;
  overflow: hidden;
  font-size: 1.2em;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  line-height: 50px;
  padding: 0 20px;
}
.redux-toastr .toastr.rrt-message .rrt-text {
  width: 100%;
  max-height: 400px;
  overflow: hidden;
  overflow-y: auto;
  border-top: 1px solid #f1f1f1;
  border-bottom: 1px solid #f1f1f1;
  background-color: white;
  padding: 15px;
  font-size: 1.1em;
  margin-bottom: 20px;
}
.redux-toastr .toastr.rrt-message .rrt-text img {
  display: block;
  margin: 10px auto;
  max-width: 100%;
}
.redux-toastr .toastr.rrt-message .close-toastr {
  height: 50px;
}
.redux-toastr .toastr .rrt-progress-container {
  height: 5px;
  margin: 0 -20px -20px -60px;
  position: absolute;
  bottom: 20px;
  width: 100%;
}
.redux-toastr .toastr .rrt-progress-container .rrt-progressbar {
  -webkit-border-radius: 0 0 0 4px;
  -moz-border-radius: 0 0 0 4px;
  border-radius: 0 0 0 4px;
  height: 100%;
}

.redux-toastr .toastr-attention {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}
