@import './variables.scss';

.lyrics-container {
	display: flex;

	.editor {
		width: 100%;
		padding: $halfUnit;
		min-height: 100px;
		resize: none;
		border: 1px solid $darkGrey;
	}

	.viewer {
		@extend .editor;
		min-height: 20px;
		font-size: 11px;

		p {
			margin: 0;
		}
	}
}

.lyrics-blank-line {
	margin-top: $halfUnit;
}

.line {
	padding: 0 3px;
	margin-right: 1px;
}

.current-band {
	border: 1px solid $lightGrey;
	padding: 0 $unit;
}

.current-band-members {
	display: flex;

	.members-list {
		list-style: none;
		display: flex;
		flex-wrap: wrap;
	}

	.member-list-item {
		padding: $quarterUnit $halfUnit;
		margin-left: $halfUnit;
		border-radius: $quarterUnit;
	}
}
