@import './variables.scss';

.results {
	padding: 0;
}

.results-bar {
	display: block;
	// border: 1px outset;
	border-bottom: 1px solid $lightGrey;
	border-right: 1px solid $lightGrey;
	border-bottom-right-radius: $halfUnit;
	margin-bottom: $halfUnit;
}

.results-bar-text {
	display: block;
	width: 100%;
}

.results-bar-color {
	display: block;
	height: $halfUnit;
}

