@import './variables.scss';

.results {
	padding: 0;
}

.results-bar {
	display: block;
	// border: 1px outset;
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-bottom-right-radius: $unit;
	margin-bottom: $unit;
}

.results-bar-text {
	display: block;
	width: 100%;
}

.results-bar-color {
	display: block;
	height: $unit;
}

