@import './variables.scss';

.results {
	padding: 0;
}

.results-bar {
	display: block;
	border: 1px outset;
	margin-bottom: $unit;
}

.results-bar-text {
	display: block;
	width: 100%;
}

.results-bar-color {
	display: block;
	height: $unit;
}

