.table {
  // outline: 1px solid green;
  width: 100%;
  border-collapse: collapse;

  thead {
    text-align: left;

    th {
      padding: 10px;
      border-bottom: 2px solid $darkGrey;
    }

    .th-num {
      max-width: 60px;
    }
  }

  td {
    padding: 10px;
    border-bottom: 1px solid $lightGrey;
  }

  tbody tr:hover {
    background: $negative;
    cursor: pointer;
  }

  p {
    margin: $quarterUnit;
  }

  ul {
    list-style: none;
    margin-bottom: $unit;
  }
}
