.btn {
  padding: get-unit(2) get-unit(3);
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    color: $color-gray-4;
    background: linear-gradient($color-negative, $color-gray-1);
  }

  &:disabled {
    border-color: $color-gray-1;
    font-style: italic;
    cursor: default;

    &:hover {
      color: $color-gray-2;
      background: $color-negative;
    }
  }
}

.btn-block {
  width: 100%;
  display: block;
  margin: get-unit(1) 0;
}

.btn-hollow {
  margin: get-unit(2);
  color: $color-negative;
  background: none;
  cursor: pointer;
  min-height: get-unit(4);

  &:hover {
    background: rgba(255, 255, 255, 0.5);
  }
}

.btn-invisbible {
  background: none;
  border: none;
  cursor: pointer;
}

.btn-simple {
  margin: get-unit(2);
  color: $color-primary;
  border-color: $color-primary;
  background: none;
  cursor: pointer;
  min-height: get-unit(4);

  &:hover {
    background: rgba(0, 0, 0, 0.1);
  }
}

.btn-50 {
  width: 50%;
}

.btn-transparent {
  cursor: pointer;
  background: transparent;
  border: 0;

  &:focus {
    outline: none;
  }
}
