.card {
  display: flex;
  flex-direction: column;
  width: 18%;
  min-width: 200px;
  max-width: 250px;
  margin-right: get-unit(3);
  margin-bottom: get-unit(3);
  padding: get-unit(2);
  background: get-color(negative);
  border-right: 1px solid get-color(gray, 1);
  border-bottom: 1px solid get-color(gray, 1);

  &__profile-image {
    display: block;
    width: 100%;
    -o-object-fit: fill;
    object-fit: fill;
    height: auto;
    transition: height 0.3s ease-in-out;

    &--crop {
      -o-object-fit: cover;
      object-fit: cover;
      height: 60px;

      &:hover {
        object-fit: fill;
        height: auto;
      }
    }
  }

  &__color-bar {
    width: 100%;
    display: flex;
    height: get-unit(2);

    &--main {
      display: block;
      width: calc(100% - get-unit(2));
      height: get-unit(2);
    }

    &--alt {
      display: block;
      height: get-unit(2);
      width: get-unit(2);
    }
  }

  &__name {
    text-transform: uppercase;
    font-weight: 700;
    margin: 0;
    bottom: -1.5em;
    color: get-color(black);
    font-size: 1.5em;
  }

  &__flag {
    height: 13px;
    width: auto;
    transform: translateY(3px);
  }

  &__positions {
    padding: 0;
    list-style: none;
    margin-top: -6px;
    flex-grow: 1;
  }

  &__position-icon {
    height: get-unit(4);
    padding-right: get-unit(2);
    transform: translateY(6px);
  }

  .member-id {
    background: get-color(gray, 1);
    margin: 0;
    padding: get-unit(2) get-unit(3);
  }

  &__edit-member-button {
    position: absolute;
    top: 0;
    right: 0;
    background: get-color(white);
    box-shadow: -1px 1px 1px get-color(grey, 3);
  }

  &__tags-group {
    background: get-color(gray, 1);
    padding: get-unit(1) get-unit(1) 0 get-unit(1);
    display: flex;
    font-size: 80%;

    span {
      display: block;
      margin-right: get-unit(2);
      color: get-color(black, 2);
    }
  }

  &__tags-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }

  &__tag {
    border-radius: get-unit(1);
    padding: 0 get-unit(2);
    margin-right: get-unit(2);
    margin-bottom: get-unit(1);
  }
}
