$colorCodes: #d01f3c, #ce311b, #ff6347, #ffa07a, #9a5827, #ff8e2a, #e2b631,
  #ffe400, #808000, #ffff52, #ccff26, #7fb817, #5d8c56, #147d14, #59ff84,
  #15aa98, #83eeea, #39badd, #285986, #406fff, #7391ff, #7b68ee, #a177ef,
  #f7d0ff, #9e35ae, #fc6be9, #9c1465, #e62e8a, #983c4b, #ffabb9;

$colorNames: 'col000001', 'col000002', 'col000003', 'col000004', 'col000005',
  'col000006', 'col000007', 'col000008', 'col000009', 'col000010', 'col000011',
  'col000012', 'col000013', 'col000014', 'col000015', 'col000016', 'col000017',
  'col000018', 'col000019', 'col000020', 'col000021', 'col000022', 'col000023',
  'col000024', 'col000025', 'col000026', 'col000027', 'col000028', 'col000029',
  'col000030';

@for $i from 1 through length($colorCodes) {
  .background-color-#{$i} {
    background-color: #{nth($colorCodes, $i)} !important;
  }
  .foreground-color-#{$i} {
    color: #{nth($colorCodes, $i)} !important;
  }
  .border-color-#{$i} {
    border-color: #{nth($colorCodes, $i)} !important;
  }
}

// For color 0
.background-color-0 {
  background-color: $color-gray-2 !important;
}
.foreground-color-0 {
  color: $color-gray-2 !important;
}
.border-color-0 {
  border-color: $color-gray-2 !important;
}

// For color 31 (used as None in Distribution)
$gray-31: #e3e3e8;
.background-color-31 {
  background-color: $gray-31;
  color: $color-gray-3 !important;
}
.foreground-color-31 {
  color: $gray-31 !important;
  background-color: $color-gray-3;
}
.border-color-31 {
  border-color: $gray-31 !important;
}
