@mixin select-override {
  appearance: none;
  border: 1px solid get-color(gray, 2);
  border-radius: 4px;
  background: get-color(negative);
  min-width: 100px;
  overflow: hidden;
  // float: left;

  &:hover {
    color: get-color(gray, 4);
    background: linear-gradient(get-color(negative), get-color(gray, 1));
  }

  select {
    width: 130%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;

    &:after {
      content: '<>';
      font: 17px monospace;
      color: get-color(gray);
      transform: rotate(90deg);
      right: 11px;

      top: 18px;
      padding: 0 0 2px;
      border-bottom: 1px solid get-color(gray, 2);

      position: absolute;
      pointer-events: none;
    }

    &:focus {
      outline: none;
    }
  }
}

.ld-select {
  @include select-override;

  select {
    padding: get-unit(2) get-unit(3);
  }
}

.ld-select-slim {
  @include select-override;

  select {
    padding: get-unit(1) get-unit(2);
  }
}

.ld-select__label {
  color: get-color(gray, 4);
}

.typeahead {
  display: inline-block;
  max-width: 300px;
  position: relative;
}

.typeahead-input {
  border: 1px solid get-color(gray, 3);
  padding: get-unit(1) get-unit(3);
  border-radius: get-unit(1);
  width: 100%;
  max-width: 150px;
  max-height: get-unit(4);
}
