.container--requirement-wrapper {
  background: linear-gradient(get-color(white), get-color(gray, 1));
}

.requirement-wrapper {
  &__container {
    width: 50%;
    max-width: 500px;

    p {
      text-align: center;
      margin: get-unit(4) 0;
    }

    button {
      display: block;
      margin: 0 auto;
    }
  }

  &__loading-icon {
    width: 200px;
    display: block;
    margin: 0 auto;
  }

  &__big-icon {
    text-align: center;
  }
}
