.tabs-container {
  width: 100%;
}

.tabs-content {
  padding: get-unit(3);
  border-left: $color-gray-1 1px solid;
  border-bottom: $color-gray-1 1px solid;
  border-right: $color-gray-1 1px solid;
  margin-bottom: -12px;

  &--empty {
    padding: get-unit(3);
    border: $color-gray-1 1px solid;
    margin-bottom: -12px;
  }
}

.tabs {
  width: 100%;
  list-style: none;
  display: flex;
  border-bottom: $color-gray-1 1px solid;
  padding: 0;
  margin: 0;

  &__tab {
    background: $color-gray-1;
    padding: get-unit(2) get-unit(4);
    cursor: pointer;
    border-right: 1px solid $color-negative;

    &:first-child {
      border-top-left-radius: get-unit(1);
    }

    &:last-child {
      border-top-right-radius: get-unit(1);
    }

    &:hover {
      background: $color-gray-2;
    }

    &--selected {
      font-weight: bold;
      color: $color-blue;
      border: 1px solid $color-gray-1;
      border-bottom: 2px solid $color-negative;
      background: $color-negative;
      transform: translateY(2px);
      z-index: 10;

      &:hover {
        background: inherit;
        cursor: auto;
      }
    }
  }

  &__content {
    border-left: $color-gray-1 1px solid;
    border-right: $color-gray-1 1px solid;
    padding: get-unit(3) get-unit(2);
  }
}
