.table {
  width: 100%;
  display: table;
  border-collapse: collapse;

  thead {
    text-align: left;

    th {
      padding: get-unit(3);
      border-bottom: 2px solid get-color(gray, 3);
    }

    .th-num {
      max-width: 60px;
    }
  }

  td {
    padding: get-unit(3);
    border-bottom: 1px solid get-color(gray, 1);
  }

  tr:last-child > td {
    border-bottom: none;
  }

  tbody tr:hover {
    background: get-color(gray, 1);
    cursor: pointer;
  }

  p {
    margin: get-unit(2);
  }

  ul {
    list-style: none;
    margin-bottom: get-unit(3);
  }
}
