.switch {
  position: relative;
  display: inline-block;
  top: $unit-p4;
  width: 46px;
  height: 20px;
}

// Slider
.switch input {
  display: none;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 4px;
  left: 0;
  right: 0;
  bottom: -4px;
  background-color: $color-gray-2;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 13px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: $color-negative;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: $color-blue;
}

input:focus + .slider {
  box-shadow: 0 0 1px $color-blue;
}

input:checked + .slider:before {
  transform: translateX(16px);
}

.slide-text-left {
  margin-right: $unit-p2;
}

.slide-text-right {
  margin-left: $unit;
}

.widget-h1-title {
  font-size: $unit;
  font-weight: normal;
  color: $color-gray-4;
  margin-left: $unit;
}

.active-widget {
  background: $color-gray-1;
  padding: $unit-p2 $unit;
  margin: $unit-p4 $unit $unit-p4 0;
  border-bottom-left-radius: $unit-p2;
  border-top-right-radius: $unit-p2;
  box-shadow: 1px 1px 1px $color-gray-2;
  display: inline-block;
  width: 50%;

  &:last-child {
    margin-right: 0;
  }

  &--quarter {
    width: 25%;
  }

  &--video {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $color-red;
    padding: 0;
  }

  &__group {
    display: flex;
  }

  &.inline {
    display: block;
    width: 100%;
    max-width: none;
  }

  h3 {
    font-size: 1em;
    color: $color-gray-4;
    margin: 0;
  }

  h1 {
    font-size: 1.25em;
    margin: 0;
  }

  &__unit {
    font-size: 0.75em;
    font-weight: normal;
  }
  &__genre {
    font-size: 0.6em;
    font-weight: normal;
    font-style: italic;
    margin-left: $unit-p4;
    color: $color-gray-4;
  }
  &__members {
    margin: $unit-p2 0 0 0;
    padding: 0;

    .pill {
      background: $color-negative;
    }
  }
}

.mode-widget {
  &__label {
    text-transform: uppercase;
    border: 2px solid $color-gray-2;
    border-right-width: 0;
    padding: $unit-p2 $unit;
    background: $color-gray-1;

    &:hover {
      font-weight: bold;
    }

    &:active {
      outline: none;
    }

    &--active {
      background: $color-negative;
      font-weight: bold;
    }

    &--disabled {
      color: $color-gray-2;
    }

    &:first-child {
      border-top-left-radius: $unit-p2;
      border-bottom-left-radius: $unit-p2;
    }

    &:last-child {
      border-right-width: 2px;
      border-top-right-radius: $unit-p2;
      border-bottom-right-radius: $unit-p2;
    }
  }
}
