.footer {
  font-size: 75%;
  text-align: center;
  padding: $unit-p4;
  box-shadow: -10px 0 10px $color-gray-1;
  z-index: 10;
  height: 24px;
  max-height: 24px;

  a {
    text-decoration: none;
    color: $color-blue;
    font-weight: bold;
  }
}
